{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}地址列表{% endblock%}  
  {% block css %} {% load staticfiles %}
{% load areas %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">{% endblock %} {% block content %}
<!-- 顶部 -->
<div class="container m60"> 
        {% include "usercenter/menu.html" %} 
            <div class="col-xs-10">
                    <div class="usercentercontent">
                            <div class="car-title clearfix">
                                <div class="pull-left">
                                        地址列表
                                </div>
                                <a class=" white-btn pull-right common-btn" href="{% url 'address:addresses' %}?new="><span class="black">+添加新地址</span></a>
                            </div>
                            <table class="order-form address_list">
                                <tr>
                                    <th>姓名</th>
                                    <th>详细地址</th>
                                    <th colspan="2">电话</th>
                                </tr>
                                {% if addresses %}
                                    {% for address in addresses %}
                                <tr class="text-left" addressid={{address.id}}>
                                    <td><span class="name">{{address.receiver}}</span></td>
                                    <td><div class="pull-left s_address">{{address.area|areas}}{{address.area.short_name}}[县\区]  {{address.detail}}</div></td>
                                    <td><span class="ph_number">{{address.phone}}</span></td>
                                    <td class="text-right">
                                        <a href="{% url 'address:addresses' %}?addressid={{address.id}}">
                                            <img class="edit" src="/static/img/icon/edit.svg" alt="" billid="{{ bill.id }}">
                                        </a>
                                        <img class="delete" src="/static/img/icon/center5.svg" class="delete" alt="" billid="{{ bill.id }}">
                                    </td>
                                </tr><!--  -->
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">
                                                没有创建任何地址
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                    </div>

            </div>
</div>
       
{% endblock %}{% block js %}
<script src="/static/address/js/address.js">
</script>
{% endblock %}