{% extends 'm_base.html' %} {% block pagetitle%}购物车{% endblock%} {% block css %} {% load staticfiles %}

<link href="/static/shopcar/css/m_shopcar.css" rel="stylesheet">
<link href="/static/plugins/icheck/skins/flat/red.css" rel="stylesheet"> {% endblock %} {% block content %}
<div class="car-title white clearfix">
    <div class="col-xs-4"><a href="/">
    <span class="white"><i class="fa fa-angle-left" aria-hidden="true"></i> 继续购物</span>
    </a></div>
    <div class="col-xs-4 fs16 text-center">
        我的购物车
    </div>
</div>
    <!-- 购物车列表详情 -->
    {% if ruleitems %} {% for car in ruleitems %}
    <table class="car-list">
        <tr>
            <!--商品图 -->
             <td class="text-center img-wrap">
                <img class="img-rounded" src="{{mediaroot}}{{car.rule.product.thumbnail}}">
            </td>
            <!--商品图 end -->
        
            <!-- 名称型号 -->
            <td class="shop-msg">
                <div class="carlist_name">{{car.rule.product.title|truncatechars:"20"}}
                </div>
                <div class="rule_content grey">{% if car.desc %}规格：{{car.desc}} {% endif %}
                </div>
            </td>
            <!-- 名称型号 end -->
        
            <!-- 价格 -->
            <td class="text-center" carid="{{car.id}}">
                <i class="fa fa-jpy" aria-hidden="true"></i>
                <span class="carprice">{{car.rule.price}}</span>
            </td>
            <!-- 价格 end -->
        </tr>
    
    <tr>

        <!-- 商品勾选 -->
        <td class="check">
                <input class="checked ichecked_item" type="checkbox" checked>
            </td>
            <!-- 商品勾选 end -->
        
        
        
        
        
        
            <!-- 数量 -->
            <td class="text-right unselect" colspan="2">
                <img class="addition r-btn" src="/static/img/icon/jia.svg" alt="" inventory="{{car.rule.inventory|default_if_none:'有货'}}">
                <span class="carnum text-center" ruleid="{{car.rule.id}}" desc="{{car.desc}}" inventory="{{car.rule.inventory|default_if_none:'有货'}}">{{car.quantity}}</span>
                <img class="subtraction r-btn" src="/static/img/icon/jian.svg" alt="">
                <img class="delete r-btn" ruleid="{{car.rule.id}}" src="/static/img/icon/cuo.svg" alt="">
            </td>
            <!-- 数量 end -->
        
            <!-- 小计 -->
            <!-- <td class="text-center">
                <i class="fa fa-jpy" aria-hidden="true"></i>
                <span class="small_sum small_sum{{forloop.counter}}">11</span>
            </td> -->
            <!-- 小计 emd -->
        
    </tr>
        
    </table>
    <div class="cut-line"></div>
            {% endfor %} {% else %}
            <div class="nothing text-center">
                <a href="/"><span class="orange">购物车是空的，添加一些商品吧</span></a>
            </div> {%endif%}
            <!-- 购物车列表详情end -->





            <div class="container car-footer clearfix">
                    <div class="pull-left">
                            <input id="all_checked" type="checkbox" checked> &nbsp;&nbsp;全选丨
                            <span id="all-delete" class="grey">删除选中的商品</span>
                        </div>
                        
                        <div class="pull-right sum-price">
                            <div>总价&nbsp;
                                <span class="orange fs16">¥&nbsp;
                                    <span class="price sum_price"> 0.00</span>
                                </span>
                            </div>
                            <div class="grey">共计
                                    <span class="nub-sum"></span>件商品</div>
                            <div class="grey">应付总额不含运费</div>
                        </div>
                        
            </div>
                <div class="text-center">
                    <a class="orange-bg common-big-btn" id="buy" href="javascript:; ">
                        <span class="white">立即购买</span>
                    </a>
                </div>
            {% endblock %} {% block js %}
            <script type="text/javascript " src="/static/js/login.js "></script>
            <script type="text/javascript" src="/static/js/cookie.js"></script>
            <script type="text/javascript " src="/static/plugins/icheck/icheck.min.js "></script>
            <script type="text/javascript" src="/static/shopcar/js/m_shopcar.js"></script>

            <script>
                var sum = 0;
                {%if ruleitems %} {% for rule in ruleitems %}
                sum += {{ rule.rule.price }} * {{ rule.quantity }};
                $(".small_sum{{forloop.counter}}").text({{ rule.rule.price }} * {{ rule.quantity }});
                {% endfor %}
                {% endif %}
                $('.sum_price').text(sum);

            </script> {% endblock %}