.car-title{
    padding:15px 0;
    background-color: rgb(72, 72, 74);
    margin-bottom: 30px;
}
.car-list{
    margin-top: 15px;
    width: 100%;
}
.cut-line{
    border-bottom: 1px solid #ddd;
    width: 100%;

}
.delete{
    margin-left: 19px;
}
.img-rounded{
    width: 90px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.r-btn{
    width: auto;
    height: 18px;
    display: inline-block;
    cursor: pointer;
}
.car-list tr:last-child td{
    padding: 10px 0;
}
.img-wrap{
    width: 25%;
}
.shop-msg{
    width: 50%;
    padding-left: 15px;
}
.carnum {
    display: inline-block;
    margin: 0 6px;
    border: none;
    outline: none;
}
.nothing{
    padding: 40px 15px;
}
#buy{
    width:60%;
    margin: 15px 0 30px;
}
.car-footer{
    margin-top: 20px;
}