@charset "utf-8";
@font-face
{
font-family: lanting;
src: url('/static/font/lanting.ttf');
}
.p-n{
    padding: unset;
}
/* 禁止选择文本 */
.unselect{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

body{
    margin: 0px;
    padding: 0px;
    min-width: 1200px;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, STHeiti, "Microsoft Yahei", sans-serif;
}
.fs32{
    font-size:32px;
}
.fs24{
    font-size: 24px;
}
.fs12{
    font-size: 12px;
}
.fs16{
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}
.mb40{
    margin-bottom: 40px;
}
th{
    font-weight: 100;
}
.m60{
    margin-top: 60px;
    margin-bottom: 60px;
}
.container{
    width: 1200px!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 100;
}
.b-n{
    border:none!important;
}

.p-r{
    position: relative;
}
.white{
    color:#fff!important;
}
.orange{
    color:#ea5014!important;;
}
.black{
    color:#333;
}
.block{
    display: block;
}
.grey{
    color: rgb(181, 182, 182);
}
.gray{
    color: gray;
}
.orange-bg
{
    background-color: #ea5014!important;;
    border:none!important;
}
.orange-bg:link,.orange-bg:visited,.orange-bg:hover,.orange-bg:active{
    text-decoration: none;
    color: white;
    outline: none;
}
.text-overflow{
    display:block;/*内联对象需加*/
    width:100%;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color: #333;
}
.common-inp{
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;     
     /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

.common-inp:focus {
    border-color:transparent;
    outline-color: #ea5014;
    /* 输入框阴影
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234, 80, 20,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234, 80, 20,.6);*/
} 
.common-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 100px;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{ 
    list-style-type: none;
}
.grey-btn{
    color:#333;
    background-color: #e5e5e5;
}
.container-main{
    margin-top: 60px;
    margin-bottom: 60px;
}
/* 块级分割线 */
.cut-line{
border-bottom: 1px solid #ddd;
}
.hint{
    position: absolute;
    left: 50%;
    bottom: 68%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}
/* 删除下拉框箭头 */
/*IE 10 */
select::-ms-expand{
    display: none;
}
select{
    /* Chrome */
    -webkit-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ' '; /* space */
}
select.common-inp{
    padding-right: 35px;
    background-image: url(/static/img/xiala.png);
    background-position: center right;
    background-repeat:no-repeat;
    cursor: pointer;
}