@charset "utf-8";
@font-face
{
font-family: lanting;
src: url('/static/font/lanting.ttf');
}
.p-n{
    padding: unset;
}
body{
    margin: 0px;
    padding: 0px;
    min-width: 1200px;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, STHeiti, "Microsoft Yahei", sans-serif;
}
.fs32{
    font-size:32px;
}
.fs16{
    font-size: 16px;
}
.mb40{
    margin-bottom: 40px;
}
.container{
    width: 1200px!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 100;
}
.b-n{
    border:none!important;
}

.p-r{
    position: relative;
}
.white{
    color:#fff;
}
.orange{
    color:#ea5014
}
.black{
    color:#333;
}
.grey{
    color: rgb(181, 182, 182);
}
.orange-bg
{
    background-color: #ea5014;
}
.orange-bg:link,.orange-bg:visited,.orange-bg:hover,.orange-bg:active{
    text-decoration: none;
    color: white;
    outline: none;
}
.text-overflow{
    display:block;/*内联对象需加*/
    width:100%;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}

.common-btn {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 100px;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{ 
    list-style-type: none;
}
.grey-btn{
    color:#333;
    background-color: #e5e5e5;
}
.container-main{
    margin-top: 60px;
    margin-bottom: 60px;
}