  /* 轮播图 */
  .sider {
    height: 611px;
    width: 100%;
    position: relative;
    background-size:cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
  }
  .sider0{
  background: url(/static/img/sider/sider0_m.jpg);
}
.sider1{
  background: url(/static/img/sider/sider1_m.jpg);
}
  .sider .shop-link {
    position: absolute;
    width: 100%;
  }
  .grey-btn-white {
    color: white;
    background-color: rgb(105, 105, 105);
}
  .shop-link ul>li{
      float: left;
      padding: 0 8px;
      border-left: 1px solid rgb(181, 182, 182);
      line-height: .9;
  }
  .shop-link1 ul>li:first-child{
      border: none;
      padding-left: 0px!important;
  }
.mb15{
margin-bottom: 20px;
}

  .shop-link0{
    bottom: 50%;
    transform: translateY(50%);
  }

.shop-link1{
  bottom: 50%;
}
.common-big-btn {
  width: 50%;
  margin-top: 2%;
}
.fs24{
  font-size: 24px;
}

  .sider .shop-link .common-btn .fa-angle-right {
    font-size: 120%;
    margin-left: 4px;
  }
  sider a:hover,sider a:visited,sider a:active{
    color: inherit;
  }
  
  .orange.fs24{
    margin-bottom: 15px;
  }
  .fs16{
    font-size: 16px;
  }
ul.clearfix.white{
  display: inline-block;
  font-size: 14px;
}
  /* 主要产品列表 */
  .classify-name{
    margin: 60px 0 0px;
    padding: 0 14px 4px 0;
    border-bottom: 2px  solid rgb(204, 204, 204);
    display: inline-block;
  }
  .product-pic{
    display: block;
    height: 174px;
    margin: 30px auto;
  }
  .product-list{
    margin-top: 30px;
    border: 1px solid #ddd;
    background: -webkit-linear-gradient(left bottom, #f5f5f5 , #fff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right,  #f5f5f5 , #fff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right, #f5f5f5 , #fff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right, #f5f5f5 , #fff); /* 标准的语法 */
  }
  .product-list .orange{
    margin: 5px 0 30px;
  }
  .product-warp{
    margin-bottom: 60px;
  }