  /* 轮播图 */
  .sider {
    height: 400px;
    width: 100%;
    position: relative;
    background-size:cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
  }
  .sider0{
    background: url(/static/img/slider/slider1.png);
  } 
  .sider1{
  background: url(/static/img/slider/slider2.png);
}
.sider2{
  background: url(/static/img/slider/slider3.png);
}
.sider3{
  background: url(/static/img/slider/slider4.png);
}
.sider4{
  background: url(/static/img/slider/slider5.png);
}
.sider5{
  background: url(/static/img/slider/slider6.png);
}
  .sider .shop-link {
    color: #fff;
    position: absolute;
    
  }
  .shop-link ul>li{
      float: left;
      padding: 0 6px;
      border-left: 1px solid #ddd;
      line-height: 1;
  }
  .shop-link ul>li:first-child{
      border: none;
  }
  .shop-link .fs40{
    font-family: lanting;
  }
  .shop-link1{
    left: 58%;
    bottom: 50%;
    transform: translateY(50%);
  }
  .shop-link2{
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
  }
  .shop-link3{
    bottom: 50%;
    transform: translateY(50%);
    color: #333!important;
  }
  .shop-link3 .learn_more{
    color: #333;
  }
  .shop-link4{
    left: 50%;
    transform: translateX(-50%);
    bottom: 62%;
  }
  .shop-link4 td{
    vertical-align: text-bottom;
    line-height: 1;
    padding: 15px;
  }
  .shop-link5{
    left: 56%;
    bottom: 50%;
    transform: translateY(50%);
  }
  .shop-link6{
    left: 22.5%;
    top: 44%;
    color: #333!important;
  }
  .shop-link3 a:first-child,.shop-link6 .learn_more{
    color: #333;
  }
  .sider .shop-link .now-bye {
    margin-left: 10px;
  }
  .sider .shop-link .common-btn .fa-angle-right {
    font-size: 120%;
    margin-left: 4px;
  }