{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% if service_man %}
{% block publicmenu %}
{% include 'admintitle.html' %}
{% endblock %}
{% endif %}
{% block pagetitle%}预约码管理{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
<link href="/static/appuser/css/after_sale.css" rel="stylesheet">
<link href="/static/css/pagination.css" rel="stylesheet">
{% endblock %} 
{% block content %}
{%csrf_token%} 
<div class="container m60"> 
    {% include "usercenter/admin_menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title clearfix">
                    <div class="pull-left">预约码服务</div> 
                </div>
                <div class="gray submit">
                     
                    <div class="fs16">生成预约服务号</div>
                    <input class="common-inp" type="text" id="phone" value="" placeholder="手机号" />
                    <div class="grey">温馨提示：系统自动生成的预约服务号会和以下内容发送至用户手机</div>
                    <textarea rows="4" class="common-inp adress-text" id="address" placeholder="{{address}}"></textarea>
                    {% csrf_token %} 
                    
                    <button class=" orange-bg common-btn" id="generate">
                        <span class="white">生成,并发送短信</span>
                    </button>
                 <div class="row"><div class="row"><hr></div></div>
                 <div class="fs16">查询预约服务号</div>
                 <form action="" method="get">
                        <input class="common-inp" type="text" name="code" value="{{code}}" placeholder="预约号" />
                        <input class="common-inp" type="text" name="phone" value="{{phone}}" placeholder="手机号" />
                       <br>
                        <button class="orange-bg common-btn" type="submit">
                            <span class="white">查询</span>
                        </button>
                 </form>
                </div>
                {% if codes %}
                    <table class="order-form text-center last-td-pd">
                                <tr> 
                                    <th class="text-left">预约服务号：
                                        <span class="orange">{{bill.no}}</span>
                                    </th>
                                    <th>商品名称</th>
                                    <th>手机号</th>
                                    <th>发起时间</th>
                                    <th>是否已使用</th> 
                                </tr> 
                            {% for code in codes %} 
                                <tr  > 
                                        <td class="text-left"> 
                                            <div class="carlist_name black">{{code.code}}</div>  
                                        </td>
                                        <td  >
                                            {% if code.used == 1 %}
                                            <span class="price">{{code.adaptoraftersales_set.all.0.device_type}}</span>
                                            {% else %}
                                            <span class="price">未绑定商品</span>
                                            {% endif %}
                                        </td>
                                        <td class="  nub">{{code.phone}}</td>
                                        
                                        <td class="w110 ">{{code.date | date:'Y-m-d'}}</td>
                                        
                                        <td class="w110">
                                                {% if code.used == 1 %}
                                                <span class="price">已使用</span>
                                                {% else %}
                                                <span class="price">未使用</span>
                                                {% endif %}
                                        </td>
                                      
                                </tr>
                                <tr class="cut_line">
                                        <td colspan="7">
                                            <div></div>
                                        </td>
                                </tr>
                            {% endfor %}
                            
                    </table>
                {% else %}
                    <div class="text-center serve-none">
                        <img class="serve-icon" src="/static/img/wudingdan.png" alt="">
                        <div class="grey fs16">您目前还没有此类订单</div>
                        <a href="/"><span class="common-btn grey-btn">返回首页</span></a>
                </div>
                {% endif %}
                
            
                <div class="submit text-center">
                        {% if pagenation %}
                        {% include 'pagination.html' %} 
                        {% endif %} 
                </div>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %} 
<script type="text/javascript" src="/static/aftersales/js/code_new.js"></script>
<script type="text/javascript" src="/static/js/pagination.js"></script>
{% endblock %}