{% extends 'base.html' %} {% block css %}
<link href="/static/products/css/products.css" rel="stylesheet"> {% endblock %} {% block content %}

<input type="hidden" id="productid" value="{{product.id}}" />

<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-5">
               <!--  {% for pic in product.productpic_set.all %}
                <div class="swiper-slide slide-1">
                    <img src='{{mediaroot}}{{pic.url}}' /> </div>
                {% endfor %} -->
            <!-- 商品图片展示 -->
            <div class="img_magnify">
                    <img id="big_img" src="" />
                </div>
            <ul class="thumbnail_list">
                {% for pic in product.productpic_set.all %}
                <li>
                    <a href="#" class="thumbnail thumbnail_custom">
                           
                        <img src="{{mediaroot}}{{pic.url}}" alt="缩略图">
                        
                    </a>
                </li>
                {% endfor %}
            </ul>
            <!-- 商品图片展示 完！！！ -->

            <!-- 分享等功能 -->
            <div class="action">
                <i class="fa fa-share-alt" aria-hidden="true">分享</i>
                <i class="fa fa-star" aria-hidden="true">收藏</i>
            </div>
            <!-- 分享等功能 完！！！ -->

        </div>

        <!-- 型号选择和购买 -->
        <div class="col-sm-7 col-md-7">

            <div class="item_name">
                {{product.title|truncatechars:"100"}}
            </div>
            <div class="item_msg">
                {{product.description|default:''}} {{product.adaptorrule_set.all.0.name }} {{product.adaptorrule_set.all.0.unit }}
            </div>
            <div class="price">
                <span>价格:</span>
                <i class="fa fa-jpy" aria-hidden="true"></i>{{product.adaptorrule_set.all.0.price }}
            </div>


            <div class="hide_box_content">
                    <div class="hide_box_price">
                        <i class="fa fa-jpy" aria-hidden="true"></i>
                        <span class="price" id="total_price"> </span>
                        <div class="font-grey">库存：
                            <span class="stock_copy">--</span>
                        </div>
                    </div>
                <table class="table">
                    {% if product.adaptorrule_set.all %}
                    <tr>
                        <th>规格</th>
                        <th>价格</th>
                        <th>库存</th>
                        <th>单位</th>
                    </tr>
                    {% for rule in product.adaptorrule_set.all %}
                    <tr class="rule_tr" ruleid="{{rule.id}}">
                        <td class="rule_name">{{rule.name}}</td>
                        <td class="unit-price">{{rule.price}}</td>
                        <td class="stock">{{rule.available_inventory}}</td>
                        <td>{{rule.unit}}</td>
                    </tr>
                    {% endfor %} {% endif %}
                </table>

                <div class="rule_wrap clearfix">

                    <div class="font-grey pull-left">数量</div>
                    <div class="btn-group btn-group-sm pull-right" role="group">
                        <button class="btn btn-default addition">+</button>
                        <div class="carnum" id="carnum">1</div>
                        <button class="btn btn-default subtraction">-</button>
                    </div>

                </div>
            </div>
            <div class="submit">
                <button class="btn btn-info pull-left buy-now" type="button">立即购买</button>
                <button class="btn btn-danger btn-danger-confirm" type="button">确定</button>
            </div>
        </div>
        <!-- 型号选择和购买 完！！！ -->

    </div>

    <!-- 商品信息和评价 -->
    <div class="row">
        <!-- 标签页菜单 -->
        <div class="col-sm-12 col-md-12">
            <span>商品详情</span>
            <span>规格参数</span>
            <span>累计评价</span>
        </div>

        <!-- 商品详情 -->
        <div class="col-sm-12 col-md-12" id="details">
            <div class="illustrate">
                {{ product.detail|default:''|safe}}
            </div>
            {% include 'recommend.html' %}
        </div>

        <!-- 规格参数 -->
        <div class="col-sm-12 col-md-12 tb-wrap">
            <table class="table table-bordered pro-table">
            </table>
        </div>

        <!-- 累计评价 -->
        <div class="col-sm-12 col-md-12">
        </div>
    </div>
    <!-- 商品信息和评价 完 -->

</div>

{% endblock %} {% block js %}
<script type="text/javascript " src="/static/products/js/detail.js"></script>>
<script>
        var items = {{product.parameters|safe}};
            var html = '';
            for (var i = 0; i < items.length; i++) {
                html = ' <tr ">' +
                    '<td class="key ">' + items[i]['key'] + '</td>' +
                    '<td class="value ">' + items[i]['value'] + '</td>' +
        
                    '</tr>';
                $('.pro-table').append(html);
            }
        
        </script> {% endblock %}


