{% extends 'base.html' %}{% block pagetitle%}商品列表{% endblock%} {% block css %}
{% load staticfiles %}
<link href="/static/products/css/list.css" rel="stylesheet"> {% endblock %} {% block content %}
<section>
    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">搜索结果</li>
        <div class="title">商品列表 </div>
    </ol>
    
</section>
{% endblock %} {% block js %}
<script type="text/javascript" src="/static/js/list.js"></script>

{% endblock %}