{% extends 'base.html' %}
{% block publicmenu %}
{% include 'admintitle.html' %}
{% endblock %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}商品列表{% endblock%} {% block css %} {% load staticfiles %}

<link href="/static/products/css/list.css" rel="stylesheet"> 
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}

<div  class="container m60">
        {% include "usercenter/admin_menu.html" %}
                <div class="col-xs-10">
            <!-- 路径导航 -->
                <div class="breadcrumb m60">
                    <form class="text-center">
                            <input class="search-val" type="search" name="keywords" placeholder="搜索管理内容">
                            <button class="btn-search" type="submit" title="点击搜索"><i class="fa fa-search orange" aria-hidden="true"></i></button>
                    </form>
                    <div class="active">搜索结果:</div>
                </div>
        
                <div class="row_margin">
                    {% for product in products %}
                    <div class="col-xs-3">
                            <div class="thumbnail">
                                <img src="{{mediaroot}}{{product.thumbnail}}" alt="...">
                                <div class="caption">
                                    <h4><a href="{% url 'product:detail' product.id %}" >{{product.title}}</a></h4>
                                    <p class="price">
                                        ¥&nbsp;{{product.adaptorrule_set.all.0.price}}
                                    </p>
                                    <a href="{% url 'product:change' product.id %}">修改</a>
                                    <a href="{% url 'product:change' product.id %}?pic">修改图片</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}  
                </div>
         </div>
    </div>

{% endblock %} {% block js %}
<script type="text/javascript" src="/static/js/list.js"></script> {% endblock %}