{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}用户中心{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container m60"> 
    {% include "usercenter/menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title clearfix">
                        我的优惠券 
                </div>
                <div class="submit gray">
                        <form method="post"  action=""  >
                                {% csrf_token %} 
                    <div>
                            <input class="common-inp cash-coupon-inp" type="hidden" name="method" value="put">
                        激活新卡券<input class="common-inp cash-coupon-inp" type="text" name="code" id="">
                        <button type="submit" class="orange-bg cash-coupon-btn common-btn white" >激活并使用</button>
                    </div>
                    {% if status %}
                    {% if status == 'error' %}
                           <div class="alert alert-danger" role="alert">
                            {{msg}}
                          </div>
                    {% endif %}
                    {% if status == 'ok' %}
                    <div class="alert alert-success" role="alert">
                     {{msg}}
                   </div>
                    {% endif %}
                    {% endif %}
                    </form>
                    
                    <div class="cash-coupon-wrap clearfix">
                        <div>我的代金券</div>
                        {% if coupons %}
                        {% for coupon in coupons %}
                        <div class="cash-coupon pull-left">
                            <div class="submit cash-coupon-msg">
                                <span class="fs18">¥
                                </span><span class="price fs32">{{coupon.price}}</span>激活码：{{coupon.code}}</div>
                            <div class="submit instructions grey">
                                <p>优惠类型：现金券</p>
                                <p>使用规则：{{coupon.rule}}</p>
                                <p>有效日期：至{{coupon.deadline|date:'Y-m-d'}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    


                </div>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
{% endblock %}