{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}用户中心{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container m60"> 
    {% include "usercenter/menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title clearfix">
                        我的优惠券 
                </div>
                <div class="submit gray">
                    <div>
                        激活新卡券<input class="common-inp cash-coupon-inp" type="text" name="" id="">
                        <a class="orange-bg cash-coupon-btn common-btn" href="">激活并使用</a>
                    </div>
                    <div class="cash-coupon-wrap">
                        我的代金券
                        <div class="cash-coupon">
                            <div class="submit cash-coupon-msg"><span class="fs18">¥</span><span class="price">500.00</span>激活码：JDE123412341234</div>
                            <div class="submit instructions grey">
                                <p>优惠类型：现金券</p>
                                <p>使用规则：仅限购买商城内的数码产品，配件不可使用</p>
                                <p>有效日期：2015.12.29至2016.12.29</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
{% endblock %}