body{
    background-color:#f9f9f8;
}

.address-wrap{
    padding: 20px 30px;
    background-color:#fff;
}
.address-wrap>.col-xs-3{
    margin-right: 30px;
}
.new-address{
    background-color: rgb(247, 247, 247);
    border:1px solid #ddd;
}
.car-title{
    padding: 20px 30px;
    background-color: rgb(242, 242, 242);
    font-size: 16px;
    margin-bottom: 5px;
}

.address{
    border:1px solid #ddd;
}

#sum_number{
    color: #777;
}

.header {
    height: 44px;
    font-size: 16px;
    text-align: center;
    line-height: 44px;  
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.header i {
    height: 100%;
    line-height: 40px;
}


.thumbnail{
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    width: 18%;
    border: 0px;
    display: none;
}


.all_price .pull-right{
margin-right: 25px;
}
.item-content{
    background-color: white;
    padding: 20px 29px;
}

.submit-holder{
    padding-top: 0px;
    padding-bottom: 0px;
}

table.order-form tr{ 
    padding-left: 32px; 
} 
.order-form td,.order-form th{
    padding:15px 0;
}
table.order-form th{
    background-color: rgb(247, 247, 247);
}
.wrap-border{
    border-bottom: 1px solid #ddd;
}

.img-rounded{
    background-color: #fff;
    width: 100px;
    height: 100px;
    padding:15px;
    border: 1px solid #ddd;
    margin-right: 30px;
}
.check{
    width: 73px;
}
.img-wrap{
    width: 100px;
}
.shop-msg{
    width: 520px;
}
.shop-msg>div{
margin-left: 30px;
}
.title-name{
    padding-left: 30px!important;
}
.w159{
    width: 159px;
}
.carnum{
    display: inline-block;
    width: 30%;
    border: none;
    outline: none;
    padding: 0 10px;
}
.r-btn{
    width: 17px;
    height: 17px;
    border: 1px solid #b5b6b6;
    color: #b5b6b6;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
}
.car-footer{
    padding: 30px 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
input[type=checkbox], input[type=radio]{
    margin: 0 ;
    vertical-align: middle; 
}
input[type=checkbox].checked{
    margin: 0 30px;
}
#all-delete{
    cursor: pointer;
}
.col-xs-6.text-right{
    border-right:1px solid #ddd;
}
.sum-price{
    padding-left: 15px;
}
.car-footer .pull-right{
    padding-right: 15px;
}
.cut-off{
    margin:0 59px 0 0;
    border-bottom: 1px solid #ddd;
}
.p-n{
    padding:0!important;
}
.cut-off-wrap:last-child{
    display: none;
}
.nothing{
    padding:60px 30px!important;
    background-color: #fff;
}
.return-link {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    line-height: 50px;
}
.product-title{
    margin-left: 18px;
}
.return-shopcar:hover, .return-shopcar:active,.return-shopcar:visited{
    color:none;
}
.return-shopcar{
    color:black;
}
.div-submit{
    line-height: 40px;
}
.submit-btn{
    margin-left: 20px;
    padding-left:  30px;
    padding-right:  30px;
}
.sum_money{
    text-align: right;
}
p.grey {
    padding-top: 15px;
}
.div-delivery{
    padding-top: 0px;
}
.div-sum-money{
    padding-bottom: 0px;
    border-top: 1px solid #ddd;
}
.col-items{
    padding-left: 21px;
    padding-right: 21px;
    background-color: white;
}
.car-list{
    border-bottom: 1px solid #ddd;
}
.car-list:last-child{
    border-bottom: none;
}
.show-sucess{
    font-size: 25px;
    margin: 0 ;
    vertical-align: middle;
    margin-left: 5px !important; 
}
.deliverytime{
    line-height: 30px;
}
.zhifubao, .weixin{
    margin-right: 10px !important;
}

.payname-zhifubao{
    margin-right: 30px;
}
.item-pay{
    padding-top:0px;
}

.submenu{
    padding:20px 0;
    text-align: center;
    background-color: #fff;
    border:1px solid #ddd;
}
.usercenter-tb{
    margin-top: 15px;
}
table{
    width: 100%;
    margin: 0;
    padding: 0;
}
.usercenter-tb img{
    width: 16px;
    margin-right: 10px;
}
.usercenter-tb td{
    padding: 15px 0 15px 54px;
    text-align: left;
}
.active{
    background-color: rgb(242, 242, 242);
}
.usercentercontent{
    border:1px solid #ddd;
    background-color: #fff;
    width: 100%;
}
 .head_portrait{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 15px;
}
.col-xs-10{
    padding-left: 30px;
}
.car-title .black{
    margin-left: 10px;
}
table.order-form tr td:first-child,table.order-form tr th:first-child{
padding-left: 30px;
}
.order-form-btn{
    padding: 4px 12px;
    border:1px solid #ddd;
    display: inline;
}

.order-form .shop-name{
    width: auto;
}
th{
    text-align: center;
}
.w110{
    width: 110px;
}
td[colspan="7"]{
    padding: 0 30px;
}
.cut_line:last-child{
    display: none;  
}
td[colspan="7"] div{
    border-top: 1px solid #ddd;
    content: '';
    height: 1px;
}