input.inp_search{
    background-color: rgb(250, 255, 189);
}
div.search_wrap{
    margin:20px 20%;
}
body{
    background-color: #f6f6f6;
}
.main{
    margin-top: 20px;
}

.main>row div{
    padding: 20px 10px;
}