
/* 
 * 缩略图展示
 */
.thumbnail_custom{
    width: 68px;
    height: 68px;
    margin: 0px;
}
.thumbnail_custom>img{
    height:100%;
    width: 100%;
}

.thumbnail_list{
    clear: left;
}
.thumbnail_list li,.com_content li{
display: inline-block;
vertical-align:middle;
} 
 .img_magnify{
    width:100%;
}
#big_img{
    display: none;
    max-width:100%;
    max-height: 400px;
    border: 1px solid #ddd;
    border-radius:4px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2),0 5px 10px rgba(0, 0, 0, .1);
    margin-top: 10px;
    margin-bottom: 10px;
} 

.action{
    color: #999
}