body{
    background-color:#f9f9f8;
}
.container-car{
    margin: 60px auto 60px;
    padding: 0px;
    border:1px solid #ddd;
}

.container-car{
    background-color: white;
}
.coupon-inp{
    margin-top: 15px;
    width: 200px;
}
.coupon-submit-btn{
    margin-left: 5px;
    height: 38px;
    
}
.mr-20{
    margin-right:20px;
}
#sum_number{
    color: #777;
}
#tb_items tr>td:first-child{
text-align: left;
}
.header {
    height: 44px;
    font-size: 16px;
    text-align: center;
    line-height: 44px;  
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.header i {
    height: 100%;
    line-height: 40px;
}
/* 地址 */
div.address{
    border:1px solid #ddd;
    padding: 15px 15px 0 15px;
    border-radius: 4px;
    height: 174px;
    cursor: pointer;
}
.act.orange{
    position: absolute;
    top: 0;
    right: 0;
}
.address-wrap{
    padding: 30px 15px;
    background-color:#fff;
}

.new-address{
    background-color: rgb(247, 247, 247);
    border:1px solid #ddd;
    padding: 15px 15px 0 15px;
    border-radius: 4px;
    display: block;
    text-align: center;
    width: 100%;
    height: 174px;
}
.add-new{
background-color: rgb(201, 201, 202);
width: 25px;
height: 25px;
border-radius: 50%;
color: #fff;
font-size: 18px;
margin: 0 auto 10px;
}
.address-footer{
    border-top: 1px solid #ddd;
    padding: 5px 0;
    text-align: center;
    margin-top: 15px;
}
.address-footer>.col-xs-6:first-child{
    border-right: 1px solid #ddd;
}
.name{
    margin-bottom: 10px;
}
.address_modify{
    border: none;
    outline: none;
    background: none;
}
.a-detail{
    height: 60px;
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...)*/
}
.modal-content{
    border-radius: 0px;
}
.modal-header{
    border: none;
    padding: 20px 15px 0px;
}
.check{
    padding-top: 4px;
}
.default{
    font-weight: 100;
    margin: 0;
}
.grey-btn{
    margin-left: 10px;
}
#receiver{
    width: 35%;
    margin-right: 2%;
}
#new_phone{
    width: 63%;
}
select.common-inp{
    width: 32%;
    float: left;
}
select.common-inp{
    margin-left: 2%;
}
select.m-n{
    margin-left:0!important;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 500px;
        margin: 30px auto;
    }
}
#detail{
    display: block;
    width: 100%;
}
.common-inp{
    margin-bottom: 15px;
}
div.act_address{
    border:1px solid #ea5014;
}


/******************** 购买的商品 ********************/
section.ware{
    display:flex;
    align-items:center;
}


.thumbnail{
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    width: 18%;
    border: 0px;
    display: none;
}

.img-rounded{
width: 6%;
margin-right:12px;
}
.ware .pull-right{
    position: absolute;
    right: 25px;

}

.product_price{
    color:rgb(201,22,35);
    font-size: 16px;
}

.all_price .pull-right{
margin-right: 25px;
}
.item-content{
    background-color: white;
    padding:40px 30px;
}
.item-content input,.rule_content.grey{
    font-size: 12px;
}

.submit-holder{
    padding-top: 0px;
    padding-bottom: 0px;
}

body{
    background-color:#f9f9f8;
}
.container-car{
    margin: 60px auto 60px;
    padding: 0px;
    border:1px solid #ddd;
}
.car-title{
    padding: 20px 30px;
    background-color: rgb(242, 242, 242);
    font-size: 14px;
}
table.shop-car{
    width: 100%; 
    background-color: #fff;
}
table.shop-car tr{ 
    padding-left: 32px; 
} 
table.shop-car td{
    padding:25px 0;
}
.wrap-border{
    border-bottom: 1px solid #ddd;
}
.invoice_msg{
    margin-left: 15px;
}
.img-rounded{
    background-color: #fff;
    width: 100px;
    height: 100px;
    padding:15px;
    border: 1px solid #ddd;
    margin-left: 30px
}
.car-list .text-right{
    padding-right: 30px;
}
#invoice_title,#invoice_code{
    min-width: 240px;
    margin-bottom: 0px;
}
.img-wrap{
    width: 130px;
}
.shop-msg{
    width: 490px;
}
.face-value{
    margin-left: 15px;
}
.title-name{
    padding-left: 30px!important;
}
.iradio_flat-red{
    margin: 0 10px 2px 0;
}
.w159{
    width: 159px;
}
.carnum{
    display: inline-block;
    width: 30%;
    border: none;
    outline: none;
    padding: 0 10px;
}
.r-btn{
    width: 18px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
}
.car-footer{
    padding: 30px 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
input[type=checkbox], input[type=radio]{
    margin: 0 0 2px;
    vertical-align: middle; 
}
input[type=checkbox].checked{
    margin: 0 30px;
}
#all-delete{
    cursor: pointer;
}
.col-xs-6.text-right{
    border-right:1px solid #ddd;
}
.sum-price{
    padding-left: 15px;
}
.car-footer .pull-right{
    padding-right: 15px;
}
.cut-off{
    margin:0 59px 0 0;
    border-bottom: 1px solid #ddd;
}
.p-n{
    padding:0!important;
}
.cut-off-wrap:last-child{
    display: none;
}
.nothing{
    padding:60px 30px!important;
    background-color: #fff;
}
.return-link {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    line-height: 50px;
}
.product-title{
    margin-left: 18px;
}
.return-shopcar:hover, .return-shopcar:active,.return-shopcar:visited{
    color:none;
}
.return-shopcar{
    color:black;
}
.div-submit{
    line-height: 40px;
}
.submit-btn{
    margin-left: 20px;
    padding-left:  30px;
    padding-right:  30px;
}
.sum_money{
    text-align: right;
    line-height: 2;
}
p.grey {
    padding-top: 15px;
}
.div-delivery{
    padding-top: 0px;
}
.div-sum-money{
    padding-bottom: 0px;
    border-top: 1px solid #ddd;
}
.col-items{
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}
.car-list{
    border-bottom: 1px solid #ddd;
}
.car-list:last-child{
    border-bottom: none;
}