<div class="col-xs-2 submenu"> 
    <img class="head_portrait" src="/static/img/noavatar.png" alt="">
    <div>{{request.user.username}}</div>

    <table class="usercenter-tb">
        <tr>
            <td {% if menu == 'bill' %}class="subactive"{% endif %}>
              <a class="black" href="{% url 'bill:admin' %}"> 
                   <img src="/static/img/icon/center1.svg" alt=""><span>销售订单</span>
              </a>
            </td>
        </tr>
        <tr>
            <td {% if menu == 'delivery' %}class="subactive"{% endif %}>
              <a class="black" href="{% url 'bill:delivery' %}"> 
                   <img src="/static/img/icon/fahuo.svg" alt=""><span>发货</span>
              </a>
            </td>
        </tr>
        <tr>
            <td {% if menu == 'refundlist' %}class="subactive"{% endif %}>
              <a class="black" href="{% url 'bill:refundlist' %}"> 
                   <img src="/static/img/icon/tuihuo.svg" alt=""><span>退款</span>
              </a>
            </td>
        </tr>
        <tr>
            <td {% if menu == 'code' %}class="subactive"{% endif %}>
                <a class="black" href="{% url 'aftersales:maintaincode' %}"> 
                    <img src="/static/img/icon/center2.svg" alt="">预约服务码
                </a>
            </td>
        </tr>
        <tr>
            <td {% if menu == 'service' %}class="subactive"{% endif %}>
                <a class="black" href="{% url 'aftersales:aftersales' %}"> 
                    <img src="/static/img/icon/center2.svg" alt="">售后订单
                </a>
            </td>
        </tr>
        <tr>
            <td {% if menu == 'coupon' %}class="subactive"{% endif %}>
                <a class="black" href="{% url 'coupon:coupons' %}">
                   <img src="/static/img/icon/center3.svg" alt="">优惠劵管理
                </a>
            </td>
        </tr>
        <tr>
            <td {% if menu == 'sale' %}class="subactive"{% endif %}>
                <a class="black" href="{% url 'bill:sales' %}"> 
                    <img src="/static/img/icon/center4.svg" alt="">销售统计
                </a>
            </td>
        </tr>
        <tr>
            <td >
                    {% if request.user.is_anonymous %}
                    <a class="black" href="/users/login/">
                            <img src="/static/img/icon/center5.svg" alt="">登录
                    </a>
                    {% else %}
                    <a class="black" href="/users/logout/">
                            <img src="/static/img/icon/center5.svg" alt="">退出登录
                    </a>
                    {% endif %}
            </td>
        </tr>
    </table> 
</div>