{% extends 'base.html' %} {% block fixed_menu_class %}fixed_menu_class{%endblock%} {% block pagetitle%}我的订单{% endblock%}
{% block css %}
<link href="/static/css/pop_up.css" rel="stylesheet">
<link href="/static/appuser/css/usercenter.css" rel="stylesheet"> {% endblock %} {% block content %} {%csrf_token%}
<div class="container m60">
    {% include "usercenter/menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
            <div class="car-title">
                我的订单
            </div>
            {% if bills %} {% for bill in bills %}
            <table class="order-form text-center">
                <tr>
                    <th class="text-left usercenter-tb">
                        <img src="/static/img/icon/center5.svg" class="orange delete" alt="" billid="{{ bill.id }}"> {{ bill.date|date:"Y-m-d" }}
                    </th>
                    <th class="text-left">订单号：
                        <a href="{% url 'bill:detail' bill.id %}">
                            <span class="orange">{{bill.no}}</span>
                        </a>
                        {% if bill.status == -2 and forloop.counter == 1 %}
                            <span class="black status">状态：</span><span class="orange">{{bill.get_status_display}}</span>
                        {% endif %}
                    </th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>应付总额</th>
                </tr>
                {% for item in bill.adaptorbillitem_set.all %}
                <tr class="item">
                    <td class="img-wrap text-left">
                        <img class="img-rounded" src="{{mediaroot}}{{item.rule.product.thumbnail}}">
                    </td>
                    <td class="shop-name text-left">
                        <a href="javascript:;">
                            <div class="carlist_name black">{{item.rule.product.title}}</div>
                            <div class="rule_content grey">规格：{{item.rule_title}} </div>
                        </a>
                    </td>
                    <td class="w110">¥&nbsp;
                        <span class="price">{{item.rule.price}}</span>
                    </td>
                    <td class="w110 nub">{{item.num}}</td>
                    
                    <td class="w110">¥&nbsp;
                        <span class="price-sum"></span>
                    </td>
                </tr>
                <tr class="cut_line">
                    <td colspan="7">
                        <div></div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="7" class="text-right gray aggregate">
                        合计：
                        <span class="total{{bill.id}}">XXX</span>
                        {% if bill.adaptorcouponitem_set.all %} 优惠：
                        <span class="coupon{{bill.id}}">{{bill.adaptorcouponitem_set.all.0.coupon.price}}元</span>
                        {% endif %} {% if bill.status == 1 %} 实付款：
                        <span>{{bill.money}}</span>
                        {% elif bill.status == 4 %}
                        <span>实际支付：{{bill.money}}</span>
                        {% else %} 应付款：
                        <span class="real{{bill.id}}">XXX</span>
                        {% endif %} {% if bill.status == -2 %}
                        <a class=" orange-bg common-btn" href="{% url 'bill:bills' %}?unpayed&billno={{bill.no}}">
                            <span class="white">立即支付</span>
                        </a>
                        {% endif %} 
                        {% if bill.status == 1 %} 

                        <button {% if bill.refundstatus == 0 %}id="refund" {% endif %} class=" orange-bg common-btn btn-refund">
                            <span class="white">{{bill.get_refundstatus_display}}</span>
                        </button> 
                        {% endif %}
                        <a class="  common-btn grey-btn" href="{% url 'bill:detail' bill.id %}">
                            <span class="black">查看详情</span>
                        </a>
                    </td>
                </tr>
            </table>
            {% endfor %} {% else %}
            <div class="text-center serve-none">
                <img class="serve-icon" src="/static/img/wudingdan.png" alt="">
                <div class="grey fs16">您目前还没有此类订单</div>
                <a href="/">
                    <span class="common-btn grey-btn">返回首页</span>
                </a>
            </div>
            {% endif %}
        </div>
        {% endblock %}
    </div>
</div>
{%csrf_token%}
<div class="pop_up">
    <div class="gray">
        <textarea name="" id="" cols="30" rows="6" placeholder="退款原因"></textarea>
    </div>
    <button id="continue" class="grey-btn common-btn">取消</button>
    <button id="sure" class="common-btn orange-bg">
        <span class="white">确定</span>
    </button>
</div>
{% endblock %} {% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
<script src="/static/bill/js/mybill.js"></script>

<script>
    var total = 0;
    var real = 0;
    var coupon = 0;
    {% for bill in bills %}
    {% for item in bill.adaptorbillitem_set.all %}
    total += {{ item.rule.price }}* {{ item.num }};
    {% if bill.adaptorcouponitem_set.all %}
    coupon = {{ bill.adaptorcouponitem_set.all.0.coupon.price }};
    {% endif %}
    {% endfor %}
    $(".total{{bill.id}}").text(total);
    real = total - coupon;
    $(".real{{bill.id}}").text(real);
    total = 0;
    coupon = 0;
    real = 0;
    {% endfor %}
</script> {% endblock %}