{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}用户中心{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container m60"> 
    {% include "usercenter/menu.html" %}
    <div class="col-xs-10">
        {% if bill.status == 1 %}
            <div  >
                    <div class="car-title col-xs-12">支付订单</div>
                    <div class="col-xs-12 sec text-center"> 
                           <img src="/static/img/right.gif" /><span class="show-sucess">订单已支付</span>
                           <div> 
                                <br/><span class="deliverytime">72小时内发货</span>
                               </p> 
                           </div>
                           <div>
                           </div>
                    </div>
            </div>
        {% endif %}
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title clearfix">
                        订单详情
                </div>
                <div class="submit">
                    物流跟踪
                    <div class="tracking">
                        <p>12月2日 出库。。。。</p>
                        <p>12月2日 出库。。。。</p>
                        <p>12月2日 出库。。。。</p>
                    </div>
                </div>
            <table class="order-form billdetail">
                <tr>
                    <td colspan="5">订单号：1232137218973298173</td>
                </tr>
                <tr>
                    <td class="img-wrap"> <img class="img-rounded" src="{{mediaroot}}{{item.rule.product.thumbnail}}"></td>
                    <td class="w320 text-left">
                        <a href="javascript:;">
                            <div class="carlist_name black">{{item.rule.product.title}}</div>
                            <div class="rule_content grey">规格： {{item.rule_title}} </div>
                        </a>
                    </td>
                    <td class="w200">
                        ¥&nbsp;<span class="price">{{item.rule.price}}2999
                    </td>
                    <td class="nub">
                        {{item.num}}1
                    </td>
                    <td class="w200 text-right">¥&nbsp;<span class="price-sum"></td>
                </tr>
            </table>
            <div class="clearfix item-content div-sum-money">
                <div class="pull-right">
                    <div class="grey  pull-right sum_money">
                        <div>商品件数：<span class="f16 sum_num">0</span> 件</div>
                        <div>金额合计：¥ <span id="sum_price" class="price f16"> 0.00</span> 元</div>
                        <div>运费：¥ <span class="price f16">0.00</span> 元</div>
                    </div> 
                      
                </div>
            </div>
            <div class="clearfix submit-holder item-content div-delivery ">
                    <div class="pull-right">  
                        <div class="div-submit"> 
                            <table>
                                <tr>
                                    <td><p class="grey" >应付金额： <i class="fa fa-jpy fs24 orange" aria-hidden="true"></i> </p></td>
                                    <td><p class="grey" ><span id="all_sum_price" class="price fs24 orange"> 0.00</span></p></td>
                                    <td><button class="submit-btn submit-btn-test common-btn white orange-bg"  id="submit-bill">提交订单</button> </td>
                                </tr> 
                            </table>
                                
                        </div>   
                    </div>
            </div>
            <div class="clearfix item-content div-delivery">
                    <div class="pull-right">
                        <div class="  pull-right sum_money">
                            <div>配送方式</div>
                            <div class="grey">顺丰快递&nbsp;|&nbsp;周一至周五16:00之前的订单当天发货，16:00之后的第二天发货，周六日的周一发货</div>
                        </div> 
                          
                    </div>
            </div> 
        </div>
        
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
{% endblock %}