{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}销售订单{% endblock%} 
{% block publicmenu %}
{% include 'admintitle.html' %}
{% endblock %}
{% block css %}
<link href="/static/plugins//bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="/static/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
<link href="/static/appuser/css/refund.css" rel="stylesheet">
<style>
    .search input, .search select{
        margin-right:0px;
    }
    #delivery_dateto{
        width: 127px;
    }
    select.common-inp.status{
        margin-left: 2px;
    }
</style>
{% endblock %} 
{% block content %}
{%csrf_token%} 
<div class="container m60"> 
    {% include "usercenter/admin_menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title">
                    销售订单
                </div>
                <form class="submit search" method="get" action=""> 
                        <div>
                                <label for="bill_nb">订单号：</label>
                                <input class="common-inp" id="bill_nb" name="billno" type="text" value="{{billno}}">
                                <label for="phone_nb">联系电话：</label>
                                <input class="common-inp" id="phone_nb" name="phone" type="text" value="{{phone}}">
                             </div>
                             <div class="date-inp">
                                    <label>下单日期：</label>
                                    <input class="common-inp   " name="datefrom" id="datefrom" type="text" value="{{datefrom}}" >
                                    <span class="gray">—</span>
                                    <input class="common-inp" name="dateto" id="dateto" type="text" value="{{dateto}}" >
                                   
                                    <label>发货日期：</label>
                                    <input class="common-inp   " name="delivery_datefrom" id="delivery_datefrom" type="text" value="{{delivery_datefrom}}" >
                                    <span class="gray">—</span>
                                    <input class="common-inp" name="delivery_dateto" id="delivery_dateto" type="text" value="{{delivery_dateto}}" >
                                    
                                </div> 
                             <div>
                                 <label>产品型号：</label>
                                 <input class="common-inp"   name="name" type="text" value="{{name}}">
                                 <label>订单状态：</label>
                                 <select class="common-inp status" name="status">
                                     <option value="-1">全部</option>
                                     <option value="1" {% if status == '1' %}selected="selected"{%endif%}>已支付</option>
                                     <option value="2" {% if status == '2' %}selected="selected"{%endif%}>已发货</option>
                                     <option value="3" {% if status == '3' %}selected="selected"{%endif%}>已完成</option>
                                 </select>
                             </div>
                            <div>
                                <button type="submit" class="orange-bg common-btn" >
                                        <span class="white">搜索</span>
                                </button>
                                <button type="submit" class="orange-bg common-btn" >
                                    <span class="white">导出Excel</span>
                            </button>
                            </div>
                    </form>
                <table class="order-form statistics text-left">
                        <tr>
                            <th>订单号</th>
                            <th>产品型号</th>
                            <th>订单状态</th>
                            <th>优惠券</th>
                            <th>订单金额</th>
                            <th>发货时间</th>
                        </tr>
                        {% if bills %} 
                           {% for bill in bills %} 
                              <tr class="item">
                                    <td>
                                        <a   href="{% url 'bill:detail' bill.id %}">
                                            <span class="orange">{{bill.no}}</span>
                                        </a>    
                                    </td>
                               <td>
                                    {% for item in bill.adaptorbillitem_set.all %}
                                    {{item.product.title}} {{item.rule.name}}
                                    <br/>
                                    {% endfor %}
                              </td>
                              <td>
                                    {% if bill.refundstatus == 0   %}
                                        {% if bill.status == -2   %}
                                        <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:bills' %}?unpayed&billno={{bill.no}}">
                                            <span class="white">立即支付</span>
                                        </a>
                                        {% endif %}
                                        {% if bill.status == 1  %}
                                        <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:detail' bill.id %}">
                                            <span class="white">{{bill.get_status_display}}</span>
                                        </a>
                                        {%　else %}
                                        <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:detail' bill.id %}">
                                            <span class="white">{{bill.get_status_display}}</span>
                                        </a>
                                        {% endif %}
                                    {%　else %}
                                         <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:detail' bill.id %}">
                                            <span class="white">{{bill.get_refundstatus_display}}</span>
                                        </a>
                                    {% endif %}
                              </td>
                              <td>
                                    {% if bill.adaptorcouponitem_set.all %}
                                    <span class="coupon{{bill.id}}">{{bill.adaptorcouponitem_set.all.0.coupon.price}}元</span>
                                    {% else %}
                                    未使用
                                    {% endif %}
                              </td>
                              <td>
                                    {% if bill.status == 1  %} 
                                    <span >{{bill.money}}</span>
                                    {% elif bill.status == 4 %}
                                    <span> {{bill.money}}</span>
                                    {% else %}
                                    <span class="real{{bill.id}}">XXX</span>
                                    {% endif %}
                              </td>
                              <td>
                                    {{ bill.delivery_date|date:"Y-m-d"|default_if_none:"未发货"}}
                              </td>
                              </tr>
                            {% endfor %}
                        {% endif %} 
                    </table>
                <!--
                {% if bills %} 
                    {% for bill in bills %} 
                        <table class="order-form text-center">
                            <tr>
                                <th class="text-left usercenter-tb">
                                        <img src="/static/img/icon/center5.svg" class="orange delete" alt="" billid="{{ bill.id }}"> 
                                    {{ bill.date|date:"Y-m-d" }}
                                </th>
                                <th class="text-left">订单号：
                                    <a   href="{% url 'bill:detail' bill.id %}">
                                       <span class="orange">{{bill.no}}</span>
                                    </a>    
                                </th>
                                <th>单价</th>
                                <th>数量</th>
                                
                                <th>应付总额</th>
                            </tr>
                            {% for item in bill.adaptorbillitem_set.all %}
                                <tr class="item">
                                        <td class="img-wrap text-left">
                                            <img class="img-rounded" src="{{mediaroot}}{{item.rule.product.thumbnail}}">
                                        </td>
                                        <td class="shop-name text-left">
                                            <a href="javascript:;">
                                                <div class="carlist_name black">{{item.rule.product.title}}</div>
                                                <div class="rule_content grey">规格： {{item.rule_title}} </div>
                                            </a>
                                        </td>
                                        <td class="w110">¥&nbsp;<span class="price">{{item.rule.price}}</span></td>
                                        <td class="w110 nub">{{item.num}}</td>
                                        
                                        <td class="w110">¥&nbsp;<span class="price-sum"></span></td>
                                        
                                </tr>
                                <tr class="cut_line">
                                    <td colspan="7">
                                        <div></div>
                                    </td>
                            </tr>
                            {% endfor %} 
                                <tr>
                                        <td colspan="7" class="text-right gray aggregate">
                                            合计：<span class="total{{bill.id}}">XXX</span>
                                        {% if bill.adaptorcouponitem_set.all %}
                                        优惠：<span class="coupon{{bill.id}}">{{bill.adaptorcouponitem_set.all.0.coupon.price}}元</span>
                                        {% endif %}
                                       
                                        {% if bill.status == 1  %}
                                        实付款：
                                        <span >{{bill.money}}</span>
                                        {% elif bill.status == 4 %}
                                        <span >实际支付：{{bill.money}}</span>
                                        {% else %}
                                        应付款：
                                        <span class="real{{bill.id}}">XXX</span>
                                        {% endif %}
    
                                        {% if bill.status == -2   %}
                                        <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:bills' %}?unpayed&billno={{bill.no}}">
                                            <span class="white">立即支付</span>
                                        </a>
                                        {% endif %}
                                        {% if bill.status == 1  %}
                                        <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:detail' bill.id %}">
                                            <span class="white">{{bill.get_status_display}}</span>
                                        </a>
                                        {%　else %}
                                        <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:detail' bill.id %}">
                                            <span class="white">{{bill.get_status_display}}</span>
                                        </a>
                                        {% endif %}
                                        <a class="order-form-btn  common-btn grey-btn" href="{% url 'bill:detail' bill.id %}">
                                                <span class="black">查看详情</span>
                                        </a>
                                        </td>
                                       
                                        
                                </tr>
                            
                         </table>
                            {% endfor %}
                           
                  
                {% else %}
                    <div class="text-center serve-none">
                        <img class="serve-icon" src="/static/img/wudingdan.png" alt="">
                        <div class="grey fs16">没有查到任何相关订单</div>
                </div>
                {% endif %}
            -->
            
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/appuser/js/usercenter.js"></script>
<script type="text/javascript" src="/static/bill/js/mybill.js"></script>
<script type="text/javascript">
        var total = 0;
        var real = 0;
        var coupon = 0;
         {% for bill in bills %} 
              {% for item in bill.adaptorbillitem_set.all %}
              total += {{item.rule.price}}*{{item.num}};
                {% if bill.adaptorcouponitem_set.all %}
                    coupon = {{bill.adaptorcouponitem_set.all.0.coupon.price}};
                {% endif %}
              {% endfor %}
              $(".total{{bill.id}}").text(total);
              real = total - coupon;
              $(".real{{bill.id}}").text(real);
              total = 0;
              coupon = 0;
              real = 0; 
         {% endfor %}
         $(function () { 
            $( "#datefrom, #dateto, #delivery_datefrom, #delivery_dateto" ).datepicker({ 
                defaultDate: "+30w",
                changeMonth: true,
                changeYear: true,
                language:'zh-CN', 
                format:'yyyy-mm-dd', 
            }); 
            });
    </script>
 <script type="text/javascript" src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
 <script type="text/javascript" src="/static/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
{% endblock %}