{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}批量发货{% endblock%} 
{% block publicmenu %}
{% include 'admintitle.html' %}
{% endblock %}
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
{%csrf_token%} 
<div class="container m60"> 
    {% include "usercenter/admin_menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title">
                    批量发货
                </div>
                <form class="submit search" method="post" enctype="multipart/form-data">
                    {%csrf_token%} 
                        <label class="common-btn grey-btn attachment" for="picture">上传附件<i class="fa fa-arrow-circle-up" aria-hidden="true"></i></label>
                        <input type="file"  name="file" value="{{billno}}" name="invoice" id="picture">
                        <button type="submit" class="orange-bg common-btn last-btn" >
                                <span class="white">批量发货</span>
                        </button>
                        <button id="leading_out" type="button" class="orange-bg common-btn  " >
                            <span class="white">导出结果</span>
                        </button>
                {% if status %}
                    {% if status == 'error' %}
                    <span class="error">{{msg}}</span>
                    {% else %}
                    <span class="gray">已成功导入{{succeed}}条物流信息，失败{{failed}}条</span>
                    {% endif %}
                {% endif %}
                    
                </form>
                
                
                            <table class="order-form statistics text-left w20">
                                <tr>
                                    <th>订单号</th>
                                    <th>收件人</th>
                                    <th>电话</th>
                                    <th>快递公司</th>
                                    <th>快递单号</th>
                                </tr>
                                {% for bill in bills %}
                                <tr class="item">
                                    <td>
                                        {{bill.no}}
                                    </td>
                                    <td>
                                        {{bill.reciever}}
                                    </td>
                                    <td>
                                        {{bill.phone}}
                                    </td>
                                    <td>
                                       {{bill.delivery_company|default_if_none:""}}
                                    </td>
                                    <td>
                                        {{bill.delivery_no|default_if_none:""}}
                                         </td>
                                </tr>
                                {% endfor %}
                            </table>
                        
            
            
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
<script src="/static/bill/js/mybill.js"></script>
<script>
        var total = 0;
        var real = 0;
        var coupon = 0;
         {% for bill in bills %} 
              {% for item in bill.adaptorbillitem_set.all %}
              total += {{item.rule.price}}*{{item.num}};
                {% if bill.adaptorcouponitem_set.all %}
                    coupon = {{bill.adaptorcouponitem_set.all.0.coupon.price}};
                {% endif %}
              {% endfor %}
              $(".total{{bill.id}}").text(total);
              real = total - coupon;
              $(".real{{bill.id}}").text(real);
              total = 0;
              coupon = 0;
              real = 0; 
         {% endfor %}
    </script>
{% endblock %}