{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}销售统计{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block publicmenu %}
{% include 'admintitle.html' %}
{% endblock %}
{% block content %}
{%csrf_token%} 
<div class="container m60"> 
    {% include "usercenter/admin_menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title">
                    销售统计
                </div>
           
                    <table class="order-form statistics text-left">
                        <tr class="">
                            <th>月份</th>
                            <th>销售金额</th>
                            <th>订单数量</th>
                            <th>售后订单数量</th>
                        </tr>
                        <tr class="item">
                            <td class="">
                                2018.1
                            </td>
                            <td class="">
                                100000
                            </td>
                            <td class="">
                                23
                            </td>
                            <td class="">
                               55
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="">
                                2018.1
                            </td>
                            <td class="">
                                100000
                            </td>
                            <td class="">
                                23
                            </td>
                            <td class="">
                               55
                            </td>
                        </tr>
                    </table>
                           
                  
              
            
            
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
<script src="/static/bill/js/mybill.js"></script>
<script>
        var total = 0;
        var real = 0;
        var coupon = 0;
         {% for bill in bills %} 
              {% for item in bill.adaptorbillitem_set.all %}
              total += {{item.rule.price}}*{{item.num}};
                {% if bill.adaptorcouponitem_set.all %}
                    coupon = {{bill.adaptorcouponitem_set.all.0.coupon.price}};
                {% endif %}
              {% endfor %}
              $(".total{{bill.id}}").text(total);
              real = total - coupon;
              $(".real{{bill.id}}").text(real);
              total = 0;
              coupon = 0;
              real = 0; 
         {% endfor %}
    </script>
{% endblock %}