{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}退货管理{% endblock%} 
{% block publicmenu %}
{% include 'admintitle.html' %}
{% endblock %}
{% block css %}
<link href="/static/plugins//bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="/static/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
<link href="/static/appuser/css/refund.css" rel="stylesheet">
{% endblock %} 
{% block content %}
{%csrf_token%} 
<div class="container m60"> 
    {% include "usercenter/admin_menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title">
                    退货管理
                </div>
                <form class="submit search" method="get" action=""> 
                        <div>
                           <label for="bill_nb">订单号：</label>
                           <input class="common-inp" id="bill_nb" name="billno" type="text" value="{{billno}}">
                           <label for="phone_nb">联系电话：</label>
                           <input class="common-inp" id="phone_nb" name="phone" type="text" value="{{phone}}">
                        </div>
                        <div>
                            <label>产品型号：</label>
                            <input class="common-inp"   name="name" type="text" value="{{name}}">
                                <label>退款进度：</label>
                                <select class="common-inp" name="refundstatus">
                                    <option value="-1">全部</option>
                                    <option value="1" {% if refundstatus == '1' %} selected="selected" {% endif %}>等待客服审批</option>
                                    <option value="2" {% if refundstatus == '2' %} selected="selected" {% endif %}> 退款成功</option>
                                    <option value="3" {% if refundstatus == '3' %} selected="selected" {% endif %}>退款被拒绝</option>
                                </select>
                        </div>
                        <div class="date-inp">
                            <label>申请日期：</label>
                            <input class="common-inp mr-2 " name="datefrom" id="datefrom" type="text" value="{{datefrom}}" >
                            <span class="gray">—</span>
                            <input class="common-inp" name="dateto" id="dateto" type="text" value="{{dateto}}" >
                            <button type="submit" class="orange-bg common-btn" >
                                    <span class="white">搜索</span>
                            </button>
                        </div> 
                    </form>
                            <table class="order-form statistics text-left">
                                <tr>
                                    <th>订单号/
                                        <br/>
                                        申请时间
                                    </th> 
                                    <th>联系电话</th> 
                                    <th>产品型号</th>
                                    <th>退款状态</th>
                                    <th>支付金额</th>
                                    <th>退款原因</th>
                                    <th>审核</th>
                                </tr>
                                {% for bill in bills %}
                                <tr class="item">
                                    <td>
                                        <a href="{% url 'bill:detail' bill.id %}" target="_blank" >
                                            <span class="orange">{{bill.no}}</span>
                                            <br/>
                                            {{bill.refund_time}}
                                        </a>
                                    </td> 
                                    <td>
                                        {{bill.owner.phone}}
                                    </td>
                                    <td>
                                        {% for item in bill.adaptorbillitem_set.all %}
                                        {{item.product.title}} {{item.rule.name}}
                                        <br/>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{ bill.get_refundstatus_display }}
                                    </td>
                                    <td>
                                        {{ bill.payed_money }}
                                    </td>
                                    <td>{{bill.refund_reason}}</td>
                                    <td>
                                        {% if bill.refundstatus == 1 %}
                                        <a class="order-form-btn orange-bg common-btn" href="{% url 'bill:detail' bill.id %}">
                                            <span class="white">审批</span>
                                        </a>
                                        {% else %}
                                           <span class="gray">审核已完成</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/appuser/js/usercenter.js"></script>
<script type="text/javascript" src="/static/bill/js/mybill.js"></script>
<script type="text/javascript">
        var total = 0;
        var real = 0;
        var coupon = 0;
         {% for bill in bills %} 
              {% for item in bill.adaptorbillitem_set.all %}
              total += {{item.rule.price}}*{{item.num}};
                {% if bill.adaptorcouponitem_set.all %}
                    coupon = {{bill.adaptorcouponitem_set.all.0.coupon.price}};
                {% endif %}
              {% endfor %}
              $(".total{{bill.id}}").text(total);
              real = total - coupon;
              $(".real{{bill.id}}").text(real);
              total = 0;
              coupon = 0;
              real = 0; 
         {% endfor %}
    </script>
<script type="text/javascript" src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
<script type="text/javascript"> 
        $(function () { 
            $( "#datefrom, #dateto" ).datepicker({ 
                defaultDate: "+30w",
                changeMonth: true,
                changeYear: true,
                language:'zh-CN', 
                format:'yyyy-mm-dd', 
            }); 
            });
</script>
{% endblock %}