{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}销售订单{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
{%csrf_token%} 
<div class="container m60"> 
    {% include "usercenter/admin_menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title">
                    销售订单
                </div>
                <form class="submit search" method="get">
                    <select class="common-inp" name="status" >
                        <option value="-1" >订单状态</option>
                        <option value="2" {% if　status == '2' %}selected="selected"{% endif %}>已发货</option>
                        <option value="1" {% if　status == '1' %}selected="selected"{% endif %}>未发货</option>
                    </select>
                    <input class="common-inp" type="text" name="billno" value="{{billno}}" placeholder="订单号"/>
                    <button type="submit" class="orange-bg common-btn" >
                            <span class="white">搜索</span>
                    </button>

                    <button id="leading_out" type="button" class="orange-bg common-btn" >
                        <span class="white">导出搜索结果</span>
                </button>
                </form>
                {% if bills %}
                   
                            {% for bill in bills %} <table class="order-form text-center">
                            <tr>
                                <th class="text-left usercenter-tb">
                                        <img src="/static/img/icon/center5.svg" class="orange delete" alt="" billid="{{ bill.id }}"> 
                                    {{ bill.date|date:"Y-m-d" }}
                                </th>
                                <th class="text-left">订单号：
                                    <span class="orange">{{bill.no}}</span>
                                </th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>状态</th>
                                <th>应付总额</th>
                            </tr>
                            {% for item in bill.adaptorbillitem_set.all %}
                                <tr class="item">
                                        <td class="img-wrap text-left">
                                            <img class="img-rounded" src="{{mediaroot}}{{item.rule.product.thumbnail}}">
                                        </td>
                                        <td class="shop-name text-left">
                                            <a href="javascript:;">
                                                <div class="carlist_name black">{{item.rule.product.title}}</div>
                                                <div class="rule_content grey">规格： {{item.rule_title}} </div>
                                            </a>
                                        </td>
                                        <td class="w110">¥&nbsp;<span class="price">{{item.rule.price}}</span></td>
                                        <td class="w110 nub">{{item.num}}</td>
                                        {% if bill.status == -2 and forloop.counter == 1 %}
                                        <td class="w110 orange">{{bill.get_status_display}}</td>
                                        {% else %}
                                        <td class="w110 orange"></td>
                                        {% endif %}
                                        <td class="w110">¥&nbsp;<span class="price-sum"></span></td>
                                        
                                </tr>
                                <tr class="cut_line">
                                    <td colspan="7">
                                        <div></div>
                                    </td>
                            </tr>
                            {% endfor %} 
                                <tr>
                                        <td colspan="7" class="text-right gray aggregate">
                                            合计：<span class="total{{bill.id}}">XXX</span>
                                        {% if bill.adaptorcouponitem_set.all %}
                                        优惠：<span class="coupon{{bill.id}}">{{bill.adaptorcouponitem_set.all.0.coupon.price}}元</span>
                                        {% endif %}
                                        实付款：<span class="real{{bill.id}}">XXX</span>
    
                                        {% if bill.status == -2   %}
                                        <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:bills' %}?unpayed&billno={{bill.no}}">
                                            <span class="white">立即支付</span>
                                        </a>
                                        {% endif %}
                                        {% if bill.status == 1  %}
                                        <a  class="order-form-btn orange-bg common-btn" href="{% url 'bill:detail' bill.id %}">
                                            <span class="white">已付款</span>
                                        </a>
                                        {% endif %}
                                        <a class="order-form-btn  common-btn grey-btn" href="{% url 'bill:detail' bill.id %}">
                                                <span class="black">查看详情</span>
                                        </a>
                                        </td>
                                       
                                        
                                </tr>
                            
                         </table>
                            {% endfor %}
                           
                  
                {% else %}
                    <div class="text-center serve-none">
                        <img class="serve-icon" src="/static/img/wudingdan.png" alt="">
                        <div class="grey fs16">没有查到任何相关订单</div>
                </div>
                {% endif %}
            
            
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
<script src="/static/bill/js/mybill.js"></script>
<script>
        var total = 0;
        var real = 0;
        var coupon = 0;
         {% for bill in bills %} 
              {% for item in bill.adaptorbillitem_set.all %}
              total += {{item.rule.price}}*{{item.num}};
                {% if bill.adaptorcouponitem_set.all %}
                    coupon = {{bill.adaptorcouponitem_set.all.0.coupon.price}};
                {% endif %}
              {% endfor %}
              $(".total{{bill.id}}").text(total);
              real = total - coupon;
              $(".real{{bill.id}}").text(real);
              total = 0;
              coupon = 0;
              real = 0; 
         {% endfor %}
    </script>
{% endblock %}