{% load areas %}
 
<input id="intemplate" value="1" type="hidden" />
    {% if addresses %}
        {% for address in addresses %}
            <div class="black col-xs-3 address-wrap" addressid="{{address.id}}">
                        <div class="address">
                                <div class="msg-list p-r">
                                    <div class="name">
                                        <span class="name">{{address.receiver}}{% if address.default == 1 %}【默认地址】{% endif %}</div>
                                <div>{{address.phone}}</div>
                                <div class="a-detail">
                                        {{address.area|areas}}{{address.area.short_name}}[县\区] {{address.detail}}
                                </div>
                                </div>
                                <div class="address-footer row">

                                        <button class="address_modify col-xs-6" url="{% url 'address:addresses' %}?addressid={{address.id}}&template">
                                                修改
                                        </button>
                                        <div class="col-xs-6 delete_address">删除</div>
                                </div>
                        </div>

                    
            </div> 
        {% endfor %}
    {% else %}
        没有创建任何地址
    {% endif %}


<!-- 新建地址按钮 -->

<div class="black col-xs-3 address-wrap">
                <button class="new-address address_new" url="{% url 'address:addresses' %}?new=&template">
                    <div class="add-new">＋</div>
                    添加新地址
                </button>
</div>


