
 
<section class="address">
    {% if address %}
    <input type="hidden" id="addressid" value="{{address.id}}"/>
    {% endif %}
    
        <input class="common-inp pull-left" type="text" id="receiver"  value="{{address.receiver}}" placeholder="收货人姓名"/>
        
        <input class="common-inp pull-left" type="text" id="new_phone" value="{{address.phone}}" placeholder="手机号"/>

   
        <select class="common-inp m-n" id="province" type="text">
                <option class="grey">省份</option>
                {% for　province in provinces %}
                <option value="{{province.id}}" {% if address_provice == 　province.id %}  selected="selected" {% endif %}>{{province.short_name}}</option>
                {% endfor %}
        </select>
        <select class="common-inp" id="city"   type="text">
                <option >城市</option>
                {% for　city in cities %}
                <option value="{{city.id}}" {% if address_city == city.id %}  selected="selected" {% endif %}>{{city.short_name}}</option>
                {% endfor %}
        </select>
        <select class="common-inp" id="counties" type="text">
                <option>区县</option>
                {% for　county in counties %}
                <option value="{{county.id}}" {% if address_county == county.id %}  selected="selected" {% endif %}>{{county.short_name}}</option>
                {% endfor %}
        </select>
    
    <input class="common-inp" type="text" id="detail" placeholder="详细地址" value="{{address.detail}}" />
</section>
<!-- 新建地址按钮 -->
<div class="clearfix">
    <div class="pull-left check">
        <input type="checkbox" id="default">
        <label class="default" for="default">设为默认地址</label>
    </div>
        <div class="pull-right">
                <button class="common-btn orange-bg create-btn"  type="button"  >
                        <span class="white">保存</span>
                </button>
                <button class="common-btn grey-btn" data-dismiss="modal" class="close" aria-hidden="true" type="button"  >
                        <span class="black">取消</span>
                </button>
        </div>
</div>
<!--
<script src="/static/address/js/m_address.js">
</script>
-->

