<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <img class="orange delete"  src="/static/img/icon/center5.svg" > 删除？
                </div>
                <div class="modal-body">
                    确定删除？
                </div>
                <div class="modal-footer">
                  
                    <button type="button" class="btn btn-ok orange-bg common-btn confirm-delete"  >
                    <span class="white">确定</span>
                    </button>
                    <button type="button" class="common-btn grey-btn" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
</div>