{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}{% block css %}
<link href="/static/css/shophome.css" rel="stylesheet">
<link href="/static/css/classify.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css"> {% endblock %} {% block content %}
<!-- Swiper -->
<div class="swiper-container row">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="sider sider1">
                <div class="shop-link shop-link3">
                    <div class="mb50 fs40 orange">高科技精密陶瓷</div>
                    <div class="mb50 fs20">时光荏苒&nbsp;风采依旧</div>
                    <a class="learn_more" href="javascript:;">查看详情</a>
                    <a class="now-bye orange-bg common-btn" href="javascript:;">立即购买
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- slider 1 end-->


        <div class="swiper-slide">
            <div class="sider sider0">
                <div class="shop-link shop-link1">
                    <div class="mb50 fs20">
                        ASU Watch
                    </div>
                    <div class="orange fs32">
                        全球首款虚拟触控智能手表
                    </div>
                    <ul class="clearfix">
                        <li>双屏互动</li>
                        <li>体感</li>
                        <li>手势识别</li>
                        <li>高清音质</li>
                    </ul>
                    <a class="learn_more" href="javascript:;">查看详情</a>
                    <a class="now-bye orange-bg common-btn" href="javascript:;">立即购买
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- slider 2 end-->

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-warp container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<!-- end swiper -->

<!-- 功能 -->
<ul class="hide_menu"><a href="{% url 'category:categories' %}">
    <li class="pull-left submenu">
        类别
    </li>
    </a>
    <a href="{% url 'product:products' %}">
    <li class="pull-left submenu">
        商品
    </li>
    </a>
    <a href="{% url 'product:products' %}?new">
    <li class="pull-left submenu">
        创建商品
    </li>
    </a>
    <a href="{% url 'product:products' %}?pic">
    <li class="pull-left submenu">
        创建商品图片
    </li>
    </a>
    <a href="{% url 'product:products' %}">
    <li class="pull-left submenu">
        商品列表
    </li>
    </a>
    <a href="{% url 'users:logout' %}">
    <li class="pull-left submenu">
        退出
    </li>
    </a>
    <a href="{% url 'bill:bills' %}">
    <li class="pull-left submenu">
        我的订单
    </li>
    </a>
    
    <a href=" {% url 'apis:apis' %}">
    <li class="pull-left submenu">
        API
    </li>
    </a>
    <a href=" {% url 'sitecontent:blockcontents' %}?new">
    <li class="pull-left submenu">
       | 网站模块管理
    </li>
    </a>
    <a href=" {% url 'sitecontent:blockitemcontents' %}?new">
        <li class="pull-left submenu">
           |     网站模块内容管理 |
        </li>
        </a></ul>
 
<div class="aj"> {% if request.user.is_anonymous %}未登录{%else%} {{request.user.username}}{% endif%}</div>

{% endblock %} {% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script type="text/javascript " src="/static/js/home.js "></script>
<script type="text/javascript " src="/static/js/classify.js "></script> {% endblock %}