{% extends 'm_base.html' %} 
{% block css %}
<link href="/static/css/m_shophome.css" rel="stylesheet">
<link href="/static/css/classify.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/css/swiper.css"> {% endblock %} {% block content %}
<!-- Swiper -->
<div class="swiper-container row">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="sider sider0">
                <div class="shop-link shop-link0 text-center">
                    <div class="mb15 lanting fs16 white">
                        ASU Watch
                    </div>
                    <div class="lanting orange fs24">
                        高格调&nbsp;黑金版激光投影手表
                    </div>
                    <a class="orange-bg common-big-btn" href="/product/products/4/">
                        <span class="white">立即购买</span>
                    </a>
                    <div><a class="common-big-btn grey-btn-white" href="http://www.a-su.com.cn/product/products/cast2/" target="_blank">查看详情</a></div>
                </div>
            </div>
        </div>
        <!-- slider 0 end-->

        <div class="swiper-slide">
            <div class="sider sider1 text-center">
                

                <div class="shop-link shop-link1">
                    
                    <div class="mb15 lanting fs16 white">
                        ASU Watch
                    </div>
                    <div class="lanting orange fs24">
                        <div>全球首款虚拟触控智能手表</div>
                        <ul class="clearfix white">
                            <li>双屏互动</li>
                            <li>体感</li>
                            <li>手势识别</li>
                            <li>高清音质</li>
                        </ul>
                    </div>
                    
                    
                    <a class="orange-bg common-btn common-big-btn" href="/product/products/15/"><span class="white">立即购买</span>
                    </a>
                    <div><a class="common-big-btn grey-btn-white" href="http://www.a-su.com.cn/product/products/cast2/" target="_blank"><span class="white">查看详情</span></a></div>
                </div>
            </div>
        </div>
        <!-- slider 1 end-->

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-warp container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<!-- end swiper -->

<!-- 商品 -->
<div class="container product-warp">
   {% for category in categories %}
    <div class="col-xs-12">
        <div class="classify-name">{{category.name}}</div>
    </div>
        {% for product in  products %}
            {% if product.category == category %}
                    <div class="col-xs-12">
                        <div class="product-list text-center">
                            <a href="{% url 'product:detail' product.id %}">
                                <img class="product-pic" src="{{mediaroot}}/{{product.thumbnail}}" alt="">
                                <div class="fs16 black">{{product.title}}</div>
                                <div class="orange">¥&nbsp;
                                    {% for rule in product.adaptorrule_set.all %}
                                        {% if rule.price %}
                                           {{rule.price}}
                                        {% endif %}
                                    {% endfor %} 
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
        {% endfor %} 
   {% endfor %} 
</div>
<!-- end 商品 -->
<!-- 功能 -->

{% endblock %} {% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script type="text/javascript " src="/static/js/m_home.js "></script>
<script type="text/javascript " src="/static/js/classify.js "></script> {% endblock %}