<table class="pagination text-center orange">
    <tr>
        <td>
            <div class="pagination_circle" id="back_off" page="{{page}}">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </div>
        </td>
        {% for page_i in pages %}
        <td>
            <div class="pagination_circle {% if page == page_i %}pagination-active {% endif %}page-num">{{page_i}}</div>
        </td>
        {% endfor %}
 
        <td>
            <div class="pagination_circle" id="go_ahead" maxpage="{{maxpage}}" page="{{page}}">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </div>
        </td>
    </tr>
</table>