<table class="pagination text-center orange">
    <tr>
        <td>
            <div class="pagination_circle" id="back_off">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </div>
        </td>

        <td>
            <div class="pagination_circle pagination-active page-num">1</div>
        </td>

        <td>
            <div class="pagination_circle page-num">2</div>
        </td>
        <td>
            <div class="pagination_circle page-num">3</div>
        </td>

        <td>
            <div class="pagination_circle page-num">4</div>
        </td>
        <td>
            <div class="pagination_circle page-num">5</div>
        </td>
        <td>
            <div class="pagination_circle" id="go_ahead">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </div>
        </td>
    </tr>
</table>