{% extends 'm_base.html' %} {% block pagetitle%}提交订单{% endblock%} {% block css %} {% load staticfiles %}
<link type="text/css" rel="stylesheet" href="/static/css/HoldOn.css">
<link href="/static/plugins/icheck/skins/flat/red.css" rel="stylesheet">
<link href="/static/bill/css/m_new.css" rel="stylesheet"> {% endblock %} {% block content %}
<div class="bill-title text-center white">提交订单</div>
<div class="container container-car">
    <!-- 收货地址 -->
    <div>
        <div class="car-title col-xs-12">收货地址</div>
        <div class="col-xs-12 item-contnt " id="item-address">

        </div>
    </div>
    <!-- 发票信息 -->
    <div>
        <div class="car-title col-xs-12">发票信息</div>
        <div class="all_price col-xs-12 item-content">
            <div>
                <input type="radio" name="invoicetype" class="invoice_type" value="1" checked="checked" />
                <span class="grey mr-20"> 个人</span>
                <input name="invoicetype" class="invoice_type" type="radio" value="0" />
                <span class="grey"> 企业</span>
                <br/>
                <br/>
                <input type="text" placeholder="填写发票抬头" class="common-inp" id="invoice_title" value="" />
                <input type="text" class="common-inp invoice_company" placeholder="纳税人识别号" id="invoice_code" value="" />
                <span class="invoice_msg invoice_company">*&nbsp;根据最新增值税管理办法，如需企业抬头发票，请填写有效税号信息。</span>
            </div>
        </div>
    </div>
    <div>
        <div class="return-link col-xs-12">
            <span >购物清单</span>
          

        </div>
        <div class="col-items">
            <table class="shop-car item-content" id="tb_items">
                <!-- 购物车列表详情 -->
                <!-- 购物车列表详情end -->
            </table>
        </div>
    </div>
    <!-- <input class="message common-inp" type="text" placeholder="选填：买家留言"/>-->
    <div class="  col-xs-12 item-content div-sum-money">
                <div id="activation_code" class="gray">
                </div>
                <div>
                    <input type="text" placeholder="请输入激活码" class="common-inp coupon-inp" id="coupon-number" value="" />
                    <button class="coupon-submit-btn  common-btn white orange-bg" id="submit-coupon">激活并使用</button>
                </div>
                <div class="coupon-msg" id="coupon-msg">
                </div>
                <div>共使用了
                    <span id="code-nb" class="orange">0</span>张优惠券，可有优惠
                    <span id="denomination" class="orange">0.00</span>元</div>
            
    </div>
<!-- 订单信息 -->
    <!-- <div class="col-xs-12 item-content div-sum-money div-product">
        <div class="">
            <div class="grey  pull-right sum_money">
                <div>商品件数：
                    <span class="f16 sum_num">0</span> 件</div>
                <div>优惠劵抵扣：¥</i>
                    <span id="coupon_price" class="price f16"> 0.00</span> 元
                </div>
                <div>运费：¥</i>
                    <span class="price f16">0.00</span> 元
                </div>
                <div>金额合计：¥</i>
                    <span id="sum_price" class="price f16"> 0.00</span> 元
                </div>

            </div>
        </div>
    </div> -->
    <div class="col-xs-12 div-submit">
        <div class="grey clearfix">
            <div class="pull-left">应付金额：</div>
            <div class="fs20 pull-right orange"> ¥&nbsp;
                <span id="all_sum_price" class="price"> 0.00</span>
            </div>
        </div>


       <button class="submit-btn common-big-btn white orange-bg" id="submit-bill">
                提交订单
        </button>
  

    </div>

</div>




<!-- 模态框（Modal） -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs16" id="myModalLabel">添加&nbsp;/&nbsp;修改收货地址</div>
            </div>
            <div class="modal-body">点击关闭按钮检查事件功能。</div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %} {% block js %}
<script type="text/javascript" src="/static/js/cookie.js"></script>
<script type="text/javascript" src="/static/js/HoldOn.min.js"></script>
<script type="text/javascript " src="/static/plugins/icheck/icheck.min.js "></script>
<script type="text/javascript " src="/static/bill/js/new.js "></script>
<script src="/static/address/js/m_address.js"></script> {% endblock %}