{% extends 'base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}提交订单{% endblock%} 
{% block css %} {% load staticfiles %}
<link type="text/css" rel="stylesheet" href="/static/css/HoldOn.css">
<link href="/static/plugins/icheck/skins/flat/red.css" rel="stylesheet">
<link href="/static/bill/css/new.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container"> 
        <div class="col-xs-12 container-car">
            <!-- 收货地址 -->
            <div>
                <div class="car-title col-xs-12">收货地址</div>
                <div class="col-xs-12 item-contnt " id="item-address">
                    
                </div>
            </div>
            <!-- 发票信息 -->
            <div>
                <div class="car-title col-xs-12">发票信息</div>
                <div class="all_price col-xs-12 item-content">
                    <div>
                        <input type="radio" name="invoicetype" class="invoice_type"  value="1" checked="checked" />
                        <span class="grey"> 个人</span>
                        <input name="invoicetype" class="invoice_type" type="radio" value="0" />
                        <span class="grey"> 企业</span>
                         <br/>
                         <br/>
                        <input type="text" placeholder="填写发票抬头" class="common-inp" id="invoice_title" value=""/>
                        <input type="text" class="common-inp invoice_company" placeholder="纳税人识别号" id="invoice_code" value=""/>
                        <span class="invoice_msg invoice_company">根据最新增值税管理办法，如需企业抬头发票，请填写有效税号信息.</span>
                    </div> 
                </div>
            </div> 
            <div>
                <div class="car-title col-xs-12">购物清单</div> 
                <div class="return-link col-xs-12">
                            <span class="product-title">商品</span>
                            <a class="return-shopcar pull-right" href="{% url 'shopcar:shopcar_detail' %}">返回购物车></a>
                         
                </div>  
                <div class="col-items">
                    <table class="shop-car item-content" id="tb_items">
                        <!-- 购物车列表详情 -->  
                        <!-- 购物车列表详情end -->
                    </table>
                </div> 
            </div>
            <!-- <input class="message common-inp" type="text" placeholder="选填：买家留言"/>-->
            <div class="  col-xs-6 item-content div-sum-money">
                    <div class=" ">
                        <div >
                            <div><img src="/static/bill/img/plus.png" class="plus"/>使用优惠劵：</div>
                            <div>
                                <input type="text" placeholder="填写优惠劵" class="common-inp coupon-inp" id="coupon-number" value=""/>
                                <button class="coupon-submit-btn  common-btn white orange-bg"  id="submit-coupon">提交</button> 
                            </div> 
                            <div class="coupon-msg" id="coupon-msg"> 
                                        
                            </div>
                        </div> 
                    </div>
            </div>

            <div class="col-xs-6 item-content div-sum-money div-product">
                <div class="pull-right">
                    <div class="grey  pull-right sum_money">
                        <div>商品件数：<span class="f16 sum_num">0</span> 件</div>
                        <div>优惠劵抵扣：¥</i> <span id="coupon_price" class="price f16"> 0.00</span> 元</div>
                        <div>运费：¥</i> <span class="price f16">0.00</span> 元</div>
                        <div>金额合计：¥</i> <span id="sum_price" class="price f16"> 0.00</span> 元</div>
                        
                    </div> 
                </div>
            </div>
            <div class="submit-holder col-xs-12 item-content div-delivery ">
                    <div class="pull-right">  
                        <div class="div-submit"> 
                            <table>
                                <tr>
                                    <td><p class="grey" >应付金额：<span class="fs24 orange"> ¥&nbsp; </span></p></td>
                                    <td><p class="grey" ><span id="all_sum_price" class="price fs24 orange"> 0.00</span></p></td>
                                    <td><button class="submit-btn submit-btn-test common-btn white orange-bg"  id="submit-bill">提交订单</button> </td>
                                </tr> 
                            </table>
                                
                        </div>   
                    </div>
            </div>
            <div class="  col-xs-12 item-content div-delivery">
                    <div class="pull-right">
                        <div class="  pull-right sum_money">
                            <div>配送方式</div>
                            <div class="grey">顺丰快递&nbsp;|&nbsp;周一至周五16:00之前的订单当天发货，16:00知道的第二天发货，周六日的周一发货</div>
                        </div> 
                          
                    </div>
            </div> 
        </div>
     
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title fs16" id="myModalLabel">添加&nbsp;/&nbsp;修改收货地址</div>
                </div>
                <div class="modal-body">点击关闭按钮检查事件功能。</div>
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div>
    <!-- /.modal -->
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/cookie.js"></script>
<script type="text/javascript" src="/static/js/HoldOn.min.js"></script>
<script type="text/javascript " src="/static/plugins/icheck/icheck.min.js "></script>
<script type="text/javascript " src="/static/bill/js/new.js "></script> 
<script src="/static/address/js/m_address.js"></script>
{% endblock %}
 