{% extends 'base.html' %}
{% load areas %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}支付-订单号：{{bill.no}}{% endblock%} 
{% block css %} {% load staticfiles %}
{% load staticfiles %}<link href="/static/bill/css/unpayed.css" rel="stylesheet"> 
<link href="/static/plugins/icheck/skins/flat/red.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/css/HoldOn.css"> 
{% endblock %} 
{% block content %}
<div class="container"> 
        <div class="col-xs-12 container-car">
        
            <div  >
                <div class="car-title col-xs-12">支付订单</div>
                <div class="col-xs-12 sec text-center"> 
                       <img src="/static/img/right.gif" /><span class="show-sucess">订单提交成功</span>
                       <div>
                           <p class="grey mt15">请在<span class="black">24小时</span>内完成支付,超时订单自动取消。
                            <br/><span class="deliverytime">72小时内发货</span>
                           </p> 
                       </div>
                       <div>
                       </div>
                </div>
            </div>
            
            <div>
                <div class="car-title col-xs-12">支付方式</div>
                <div class="all_price col-xs-12 item-content">
                    <div>
                        <input type="radio" name="payway" class="zhifubao invoice_type"  value="zhifubao" checked="checked" />
                        <span class="grey payname payname-zhifubao"> 支付宝支付</span>
                        <input name="payway" class="weixin invoice_type" type="radio" value="weixin" />
                        <span class="grey payname"> 微信支付</span> 
                    </div> 
                </div>
            </div> 
            
            <!-- <input class="message com-input" type="text" placeholder="选填：买家留言"/>-->
            <div class="  col-xs-12 item-content div-sum-money"> 
                <div class="text-right  pull-right"> 
                    <p class="grey" >应付金额： <span class="fs24 orange">¥</span>
                    <span id="all_sum_price" class="price fs24 orange"> 0.00</span></p>
                    <button id="submit-pay"  class="submit-btn submit-btn-test common-btn white orange-bg"  >现在支付</button> 
                    <br/>
                    <br/>
                </div>
                
            </div> 
            
           <!--
            <div class="col-xs-12 item-pay gray">
                        <h5 class="fs16 black">收货信息</h5>
                        姓名：{{bill.address.receiver}}<br>
                        电话：{{bill.address.phone}}<br>
                        地址：{{bill.address.detail}}{{bill.address.detail}}
                        <h5 class="fs16 black">发票信息：</h5>
                        {{bill.invoice.title}}
                        {{bill.invoice.code}} 
                        {{bill.adaptorcouponitem_set.all.0.coupon.price}} 
            </div>
        -->
        </div>
     
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/cookie.js"></script>
<script type="text/javascript" src="/static/js/HoldOn.min.js"></script> 
<script type="text/javascript " src="/static/plugins/icheck/icheck.min.js "></script>
<script type="text/javascript" src="/static/js/icheck.js"></script> 
<!-- <script type="text/javascript " src="/static/bill/js/newtest.js "></script> -->
<script>
    var totalmoney = 0;
    {% for billitem in bill.adaptorbillitem_set.all %}
    totalmoney += {{billitem.rule.price}};
    {% endfor %}

    {% for couponitem in bill.adaptorcouponitem_set.all %}
    totalmoney -= {{couponitem.coupon.price}};
    {% endfor %}
    $("#all_sum_price").text(totalmoney);
</script>
<script>
    $("#submit-pay").click(function(){
        //pay
       var payway = $('input[name="payway"]:checked').val() ;
       url = "{% url 'bill:bills' %}?payed&billno={{bill.no}}&payway="+payway;
       //window.location = url;
       window.open(url);
    });
</script>

{% endblock %}
 