{% extends 'user/usercenter.html' %}  
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title clearfix">
                        <div class="pull-left">我的订单</div>
                        <div class="pull-right">
                            <a href="javascript:;">
                                <span class="black">已完成</span>
                            </a>
                            <a href="javascript:;">
                                <span class="black">未完成</span>
                            </a>
                            <a href="javascript:;">
                                <span class="black">已关闭</span>
                            </a>
                        </div>
                    </div>
            <table class="order-form text-center">
                <tr>
                    <th class="text-left">2018-02-22</th>
                    <th class="text-left">订单号：
                        <span class="orange">ASU12345677777</span>
                    </th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>状态</th>
                    <th>应付总额</th>
                    <th>
                        <a href="">
                            <span class="orange">查看详情</span>
                        </a>
                    </th>
                </tr>
                <tr class="item">
                    <td class="img-wrap text-left">
                        <img class="img-rounded" src="/static/img/watch_g.png">
                    </td>
                    <td class="shop-name text-left">
                        <a href="javascript:;">
                            <div class="carlist_name black">ASU Watch 智能手表</div>
                            <div class="rule_content grey">规格： 黑金版 黑色</div>
                        </a>
                    </td>
                    <td class="w110">¥&nbsp;<span class="price">2999</span></td>
                    <td class="w110 nub">1</td>
                    <td class="w110">发起售后服务</td>
                    <td class="w110">¥&nbsp;<span class="price-sum"></span></td>
                    <td class="w110">
                        <a class="order-form-btn common-btn" href="javascript;">
                            <span class="black">已完成</span>
                        </a>
                    </td>
                </tr>
                <tr class="cut_line">
                    <td colspan="7">
                        <div></div>
                    </td>
                </tr>
                <tr class="item">
                        <td class="img-wrap text-left">
                            <img class="img-rounded" src="/static/img/watch_g.png">
                        </td>
                        <td class="shop-name text-left">
                            <a href="javascript:;">
                                <div class="carlist_name black">ASU Watch 智能手表</div>
                                <div class="rule_content grey">规格： 黑金版 黑色</div>
                            </a>
                        </td>
                        <td class="w110">¥&nbsp;<span class="price">2929</span></td>
                        <td class="w110 nub">3</td>
                        <td class="w110">发起售后服务</td>
                        <td class="w110">¥&nbsp;<span class="price-sum"></span></td>
                        <td class="w110">
                            <a class="order-form-btn orange-bg common-btn" href="javascript;">
                                <span class="white">立即支付</span>
                            </a>
                        </td>
                    </tr>
                <tr class="cut_line">
                        <td colspan="7">
                            <div></div>
                        </td>
                    </tr>
            </table>
            <table class="order-form text-center">
                    <tr>
                        <th class="text-left">2018-02-22</th>
                        <th class="text-left">订单号：
                            <span class="orange">ASU12345677777</span>
                        </th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>状态</th>
                        <th>应付总额</th>
                        <th>
                            <a href="">
                                <span class="orange">查看详情</span>
                            </a>
                        </th>
                    </tr>
                    <tr class="item">
                        <td class="img-wrap text-left">
                            <img class="img-rounded" src="/static/img/watch_g.png">
                        </td>
                        <td class="shop-name text-left">
                            <a href="javascript:;">
                                <div class="carlist_name black">ASU Watch 智能手表</div>
                                <div class="rule_content grey">规格： 黑金版 黑色</div>
                            </a>
                        </td>
                        <td class="w110">¥&nbsp;<span class="price">2999</span></td>
                        <td class="w110 nub">1</td>
                        <td class="w110">发起售后服务</td>
                        <td class="w110">¥&nbsp;<span class="price-sum"></span></td>
                        <td class="w110">
                            <a class="order-form-btn common-btn" href="javascript;">
                                <span class="black">已完成</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cut_line">
                        <td colspan="7">
                            <div></div>
                        </td>
                    </tr>
                    <tr class="item">
                            <td class="img-wrap text-left">
                                <img class="img-rounded" src="/static/img/watch_g.png">
                            </td>
                            <td class="shop-name text-left">
                                <a href="javascript:;">
                                    <div class="carlist_name black">ASU Watch 智能手表</div>
                                    <div class="rule_content grey">规格： 黑金版 黑色</div>
                                </a>
                            </td>
                            <td class="w110">¥&nbsp;<span class="price">2929</span></td>
                            <td class="w110 nub">3</td>
                            <td class="w110">发起售后服务</td>
                            <td class="w110">¥&nbsp;<span class="price-sum"></span></td>
                            <td class="w110">
                                <a class="order-form-btn orange-bg common-btn" href="javascript;">
                                    <span class="white">立即支付</span>
                                </a>
                            </td>
                        </tr>
                    <tr class="cut_line">
                            <td colspan="7">
                                <div></div>
                            </td>
                        </tr>
                </table>
        </div>
        {% endblock %}
   