{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}售后申请{% endblock%} 
{% block publicmenu %}
{% include 'admintitle.html' %}
{% endblock %}
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container m60"> 
    {% include "usercenter/admin_menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title clearfix">
                        售后申请 
                </div>
            <table class="order-form text-center">
               
                {% if bills or aftersales %}
                <!--
                <table class="order-form text-center">
                        {% for bill in bills %}
                        <tr>
                            <th class="text-left usercenter-tb">
                                  
                                {{ bill.date|date:"Y-m-d" }}
                            </th>
                            <th class="text-left">订单号：
                                <span class="orange">{{bill.no}}</span>
                            </th>
                            <th>状态</th>
                            <th>
                                <a href="{% url 'bill:detail' bill.id %}">
                                    <span class="orange">查看详情</span>
                                </a>
                            </th>
                        </tr>
                        {% for item in bill.item %}
                            <tr class="item">
                                    <td class="img-wrap text-left">
                                        <img class="img-rounded" src="{{mediaroot}}{{item.rule.product.thumbnail}}">
                                    </td>
                                    <td class="shop-name text-left">
                                        <a href="javascript:;">
                                            <div class="carlist_name black">{{item.rule.product.title}}</div>
                                            <div class="rule_content grey">规格： {{item.rule_title}} </div>
                                        </a>
                                    </td>
                                    <td class="w110 orange">{{item.status}}</td>
                                 
                                    <td class="w110"> 
                                        <a class="order-form-btn orange-bg common-btn" href="javascript;">
                                            <span class="white">立即支付</span>
                                        </a> 
                                    </td>
                                    
                            </tr>
                        {% endfor %}
                        <tr class="cut_line">
                                <td colspan="7">
                                    <div></div>
                                </td>
                        </tr>
                        {% endfor %}
                        
                </table>
            -->

                <table class="order-form text-center">
                        <tr>
                                <th class="usercenter-tb"> 产品名称</th>
                                <th class="usercenter-tb"> 申请人</th>
                                <th class="usercenter-tb"> 申请日期</th>
                                <th>电话</th>
                                <th>预约服务码</th>
                                <th>
                                        <span class="orange">进度及详情</span>
                                </th> 
                        </tr>
                        {% csrf_token %} 
                        {% for aftersale in aftersales %}
                        
                        <tr>
                            <td class="usercenter-tb" aftersaleid="{{aftersale.id}}">
                                    <a href="/aftersales/aftersales/{{aftersale.id}}/">
                                        <span class="orange">
                                           {{aftersale.device_type}}
                                        </span>
                                    </a>    
                            </td>
                            <!-- <td class="text-left usercenter-tb" aftersaleid="{{aftersale.id}}">{{aftersale.name}}</td> -->
                            <td>{{aftersale.user.username}}</td>
                            <td>{{aftersale.date|date:'Y-m-d'}}</td>
                            
                            <td>{{aftersale.phone}}</td>
                            <td>{{aftersale.maintain_code.code}}</td>
                           <!--  <td>{{aftersale.get_status_display}}</td> -->
                            <td>
                                <a href="/aftersales/aftersales/{{aftersale.id}}/">
                                    <span class="orange">【{{aftersale.get_status_display}}】查看详情</span>
                                </a>
                            </td>
                            
                        </tr>
                        <tr class="cut_line">
                                <td colspan="8" class="td_line">
                                    <div></div>
                                </td>
                        </tr>
                        {% endfor %}
                </table>
                {% else %}
                {% include "usercenter/nothing.html" %}

                {% endif %}
               
            </table>
        </div>
        {% endblock %}
    </div>
</div>
{% include "delete.confirm.html" %}
{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
<script src="/static/aftersales/js/list.js"></script>
{% endblock %}