{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}录入物流信息{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="pop_wrap">
    <div class="pop-box">
            请在发起售后申请前，首先拨打客服热线
            <div class="orange fs18"><img src="/static/img/icon/kefu.svg" alt="">400-608-0106</div>
            <p>客服将为您提供相关售后咨询</p>
            <span class="common-btn orange-bg white"  id="cancel">确定</span>
            <a   href="/aftersales/aftersales/">
                <span  class="common-btn grey-btn">取消</span>
            </a>
    </div>
</div>
<div class="container m60"> 
        {% include "usercenter/menu.html" %}
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
            <div class="car-title clearfix">
                <div class="pull-left">输入预约号</div>
            </div>
            <form method="post"  action="" enctype="multipart/form-data">
                    {% csrf_token %} 
                <div class="submit">
                    <div>您的寄修预约号：<span class="fs18">{{code}}</span></div>
                    <input type="hidden" name="delivery" >
                    <input type="hidden" name="aftersaleid"  value="{{aftersale.id}}">
                    <p class="msg">
                        请输入您的预约号
                    </p>
                    
                    <input class="common-inp" type="text" name="logistics_nub" id="" placeholder="请输入预约号">
                   
                    <div>
                            <input class="common-inp orange-bg white" type="submit" value="提交">
                    </div>
                </div>
            </form>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
<script>
    /* 验证手机号 */
    $(function () {
            $('form').submit(function(e){
            if($('input[type="text"]').val()==''){
                $().errormessage('请填写物流公司名称和运单号...');
                e.preventDefault();
            }
        })
        })
        
</script>
{% endblock %}