<div class="col-xs-2 submenu">
        {% block usercentermenu %}
        <img class="head_portrait" src="/static/img/noavatar.png" alt="">
        <div>18612323233</div>
    
        <table class="usercenter-tb">
            <tr>
                <td>
                    <img src="/static/img/icon/center1.svg" alt="">我的订单
                </td>
            </tr>
            <tr>
                <td class="active">
                    <img src="/static/img/icon/center2.svg" alt="">售后服务
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center3.svg" alt="">我的优惠劵
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center4.svg" alt="">收货地址
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center5.svg" alt="">退出登录
                </td>
            </tr>
        </table>
        {% endblock %}
    </div>