{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}用户中心{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container m60"> 
    <div class="col-xs-2 submenu">
        {% block usercentermenu %}
        <img class="head_portrait" src="/static/img/noavatar.png" alt="">
        <div>18612323233</div>
    
        <table class="usercenter-tb">
            <tr>
                <td >
                    <img src="/static/img/icon/center1.svg" alt="">我的订单
                </td>
            </tr>
            <tr>
                <td class="active">
                    <img src="/static/img/icon/center2.svg" alt="">售后服务
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center3.svg" alt="">我的优惠劵
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center4.svg" alt="">收货地址
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center5.svg" alt="">退出登录
                </td>
            </tr>
        </table>
        {% endblock %}
    </div>
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
            <div class="car-title clearfix">
                <div class="pull-left">录入寄修信息</div>
            </div>
            <form method="post"  action="">
                <div class="information clearfix">
                    <input class="common-inp" type="text" name="name" id="" placeholder="姓名">
                    <input class="common-inp" type="text" name="phone" id="phone" placeholder="电话">
                    <input class="common-inp" type="text" name="email" id="" placeholder="邮箱">
                    <input class="common-inp" type="text" name="address" id="" placeholder="寄回地址">
                    <input class="common-inp" type="text" name="rule" id="" placeholder="型号">
                    <input class="common-inp" type="text" name="color" id="" placeholder="颜色">
                    <input class="common-inp" type="text" name="number" id="" placeholder="产品系列号(PSN)">
                    <input class="common-inp" type="text" name="date" id="" placeholder="购买日期">
                    <input class="common-inp" type="text" name="dealer" id="" placeholder="购买经销商">
                </div>
                <div class="receipt">
                    上传机构发
                    <label class="common-inp grey-btn" for="picture">上传附件<i class="fa fa-arrow-circle-up" aria-hidden="true"></i></label>
                    <input type="file" name="picture" id="picture">
                    <textarea class="common-inp" name="detail" rows="4" placeholder="故障现象">
                    </textarea>
                </div>
                <div class="submit">
                    <div>申请售后类别</div>
                    <div>
                        <select class="common-inp genre" name="genre" id="">
                            <option value="">7日退机</option>
                            <option value="">15日内换机</option>
                            <option value="">维修</option>
                            <option value="">附件</option>
                        </select>
                        退机必须整包装，不能缺附件
                    </div>
                        <input class="common-inp orange-bg white" type="submit" value="提交">
                </div>
            </form>
            
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
<script>
    /* 验证手机号 */
    $(function () {
            $('#phone').blur(function () {
                var myreg =/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                if (!myreg.test($(this).val())||!$(this).length==11) {
                    $('#phone').css('border-color',"#ddd");
                    $().errormessage('手机号格式不正确请重新输入');
                    $('#phone').css('border-color',"#ea5014");
                }
            })

            $('form').submit(function(e){
            if($('input[type="text"]').val()==''){
                $().errormessage('请完善资料');
                e.preventDefault();
            }
        })
        })
        
</script>
{% endblock %}