{% extends 'base.html' %} 
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}用户中心{% endblock%} 
{% block css %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container m60"> 
    <div class="col-xs-2 submenu">
        {% block usercentermenu %}
        <img class="head_portrait" src="/static/img/noavatar.png" alt="">
        <div>18612323233</div>
    
        <table class="usercenter-tb">
            <tr>
                <td>
                    <img src="/static/img/icon/center1.svg" alt="">我的订单
                </td>
            </tr>
            <tr>
                <td class="active">
                    <img src="/static/img/icon/center2.svg" alt="">售后服务
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center3.svg" alt="">我的优惠劵
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center4.svg" alt="">收货地址
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/img/icon/center5.svg" alt="">退出登录
                </td>
            </tr>
        </table>
        {% endblock %}
    </div>
    <div class="col-xs-10">
        {% block usercentercontent %}
        <div class="usercentercontent">
                <div class="car-title clearfix">
                        售后服务
                        <a class="apply-for-btn orange-bg common-btn" href="">申请售后服务</a>
                </div>
            <table class="order-form text-center">
                <tr>
                    <th class="text-left">2018-02-22</th>
                    <th class="text-left">订单号：
                        <span class="orange">ASU12345677777</span>
                    </th>
                    
                    <th>状态</th>
                    <th>
                    </th>
                </tr>
                <tr class="item">
                    <td class="img-wrap text-left">
                        <img class="img-rounded" src="/static/img/watch_g.png">
                    </td>
                    <td class="shop-name text-left">
                        <a href="javascript:;">
                            <div class="carlist_name black">ASU Watch 智能手表</div>
                            <div class="rule_content grey">规格： 黑金版 黑色</div>
                        </a>
                    </td>
                    
                    <td class="w110">发起售后服务</td>
                    <td class="w110">
                        <a class="order-form-btn orange-bg common-btn" href="javascript;">
                            <span class="white">查看详情</span>
                        </a>
                    </td>
                </tr>
                <tr class="cut_line">
                    <td colspan="7">
                        <div></div>
                    </td>
                </tr>
               
            </table>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/appuser/js/usercenter.js"></script>
{% endblock %}